USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SaleBillEdit]    Script Date: 6/8/2021 12:44:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SaleBillEdit]

@SaleBillID int,
@SaleBillCustomID Nvarchar(50),
@SaleBillCustomer int,
@SaleBillPayType Nvarchar(50),
@SaleBillStore int,
@SaleBillBranch int,
@SaleBillNotes Nvarchar(100),
@SaleBillINVDate Nvarchar(50),
@SaleBillTotalSaleAmount decimal(18,3),
@SaleBillNetSaleAmount decimal(18,3),
@SaleBillTotalBuyAmount decimal(18,3),
@SaleBillItemCount int,
@SaleBillTotalEarn decimal(18,3),
@SaleBillTotalTax decimal(18,3),
@SaleBillTotalDiscound decimal(18,3),
@SaleBillTotalExpenses decimal(18,3),
@SaleBillTotalAmount decimal(18,3),
@SaleBillTotalPaid decimal(18,3),
@SaleBillTotalRemain decimal(18,3),
@PcNameWhoAdded Nvarchar(50),
@SaleBillWhoAdded int,
@SaleBillDate Nvarchar(50),
@SaleBillTime Nvarchar(50)

AS

INSERT INTO SaleBill
					(SaleBillID, SaleBillCustomID, SaleBillCustomer, SaleBillPayType, SaleBillStore, SaleBillBranch, SaleBillNotes, 
					 SalebillInvoiceDate,SaleBillTotalSaleAmount,SaleBillTotalFreeSaleAmount, SaleBillTotalBuyAmount, SaleBillItemsCount, SaleBillTotalEarn, SaleBillTotalTax, 
					 SaleBillTotalDiscound, SaleBillTotalExpenses,SaleBillTotalAmount, SaleBillTotalPaid, SaleBillTotalRemain, PCNameWhoAdded, 
					 SaleBillWhoAdded, SaleBillStatus, SaleBillDate, SaleBillTime)
			
			VALUES  (@SaleBillID,@SaleBillCustomID, @SaleBillCustomer,@SaleBillPayType,@SaleBillStore,@SaleBillBranch,@SaleBillNotes,
					 @SaleBillINVDate, @SaleBillTotalSaleAmount,@SaleBillNetSaleAmount,@SaleBillTotalBuyAmount,@SaleBillItemCount,@SaleBillTotalEarn ,@SaleBillTotalTax,
			         @SaleBillTotalDiscound ,@SaleBillTotalExpenses,@SaleBillTotalAmount,@SaleBillTotalPaid ,@SaleBillTotalRemain,@PcNameWhoAdded,
			         @SaleBillWhoAdded, 1,@SaleBillDate,@SaleBillTime);