USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SaleBillSearch]    Script Date: 7/14/2021 9:35:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SaleBillSearch]

@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100),
@CheckSearchDate bit,
@SearchDate1 Nvarchar(50),
@SearchDate2 Nvarchar(50)

AS

--Case * Search by @ColumnName is SaleBillID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 and @ColumnName = 'SaleBillID'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [رقم الفاتورة] = Convert(int,@SearchKey);

END

--Case 1 Search by @ColumnName is SaleBillCustomID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 and @ColumnName = 'SaleBillCustomID'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [كود الفاتورة] = @SearchKey;

END

--Case 2 Search by @ColumnName is SaleBillID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'SaleBillPayType'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [نوع الدفع] =  @SearchKey;

END

--Case 3 Search by @ColumnName is SaleBillID @SearchKey = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'SaleBillPayType'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [نوع الدفع] =  @SearchKey AND [تاريخ إصدار فاتورة البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 4 Search by @ColumnName is SaleBillInvoiceDate And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'SaleBillInvoiceDate'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [تاريخ إصدار فاتورة البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 5 Search by @ColumnName is StoreName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'StoreName'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [اسم المخزن] =  @SearchKey;

END


--Case 6 Search by @ColumnName is StoreName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'StoreName'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [اسم المخزن] =  @SearchKey AND [تاريخ إصدار فاتورة البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END



--Case 7 Search by @ColumnName is BranchName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'BranchName'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [اسم الفرع] =  @SearchKey;

END


--Case 8 Search by @ColumnName is BranchName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'BranchName'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [اسم الفرع] =  @SearchKey AND [تاريخ إصدار فاتورة البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END



--Case 9 Search by @ColumnName is CustomerFullName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'CustomerFullName'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [اسم العميل] =  @SearchKey;

END


--Case 10 Search by @ColumnName is CustomerFullName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'CustomerFullName'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [اسم العميل] =  @SearchKey AND [تاريخ إصدار فاتورة البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 11 Search by @ColumnName is ItemBarcode1 And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'ItemBarcode1'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [باركود الاول للصنف] =  @SearchKey OR [الباركود الثانى للصنف] =  @SearchKey OR [الباركود الثالث] =  @SearchKey;

END


--Case 12 Search by @ColumnName is ItemBarcode1 And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'ItemBarcode1'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [باركود الاول للصنف] =  @SearchKey AND [تاريخ إصدار فاتورة البيع] BETWEEN @SearchDate1 AND @SearchDate2 OR [الباركود الثانى للصنف] =  @SearchKey AND [تاريخ إصدار فاتورة البيع] BETWEEN @SearchDate1 AND @SearchDate2 OR [الباركود الثالث] =  @SearchKey AND [تاريخ إصدار فاتورة البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 13 Search by @ColumnName is ItemName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'ItemName'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE [اسم الصنف] LIKE '%' + @SearchKey + '%' OR [الصنف بالانجليزى] LIKE '%' + @SearchKey + '%';

END


--Case 14 Search by @ColumnName is ItemName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'ItemName'

BEGIN

--Note Sql Statment ColumnName LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN  @SearchDate1 AND @SearchDate2 OR ColumnName2 LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;
--SELECT * FROM ViewSaleBillShow  WHERE [الصنف بالانجليزى] LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2 OR [اسم الصنف] LIKE '%' + @SearchKey + '%'  AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;
SELECT * FROM ViewSaleBillShow  WHERE [اسم الصنف] LIKE '%' + @SearchKey + '%'  AND [تاريخ إصدار فاتورة البيع] BETWEEN @SearchDate1 AND @SearchDate2 OR [الصنف بالانجليزى] LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END



--Case 15 Search by @ColumnName is CompanyName And @CheckSearchDate = 0 (without SearchDate = False) -- + 'N' + to search in arabic language
IF @CheckSearchDate = 0 AND @ColumnName = 'CompanyName'

BEGIN

SELECT DISTINCT [رقم الفاتورة]
      ,[كود الفاتورة] 
	  ,[اسم العميل]
      ,[نوع الدفع]
      ,[رقم المخزن]
      ,[رقم الفرع]
      ,[تاريخ إصدار فاتورة البيع]
      ,[اجمالى الفاتورة بسعر البيع]
      ,[صافى الفاتورة بسعر البيع]
      ,[اجمالى الفاتورة بسعر الشراء]
      ,[عدد الاصناف]
      ,[اجمالى الربح من الفاتورة]
      ,[اجمالى الضريبة على الفاتورة]
      ,[اجمالى الخصم النقدى على الفاتورة]
      ,[قيمة المصروفات الاضافية]
      ,[اجمالى قيمة الفاتورة]
      ,[القيمة المدفوعة]
      ,[القيمة المتبقية]
	  ,[الشركة المنتجة]
	   FROM ViewSaleBillShow WHERE [الشركة المنتجة] LIKE '%' + @SearchKey + '%';

END


--Case 16 Search by @ColumnName is CompanyName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'CompanyName'

BEGIN

SELECT DISTINCT [رقم الفاتورة]
      ,[كود الفاتورة] 
	  ,[اسم العميل]
      ,[نوع الدفع]
      ,[رقم المخزن]
      ,[رقم الفرع]
      ,[تاريخ إصدار فاتورة البيع]
      ,[اجمالى الفاتورة بسعر البيع]
      ,[صافى الفاتورة بسعر البيع]
      ,[اجمالى الفاتورة بسعر الشراء]
      ,[عدد الاصناف]
      ,[اجمالى الربح من الفاتورة]
      ,[اجمالى الضريبة على الفاتورة]
      ,[اجمالى الخصم النقدى على الفاتورة]
      ,[قيمة المصروفات الاضافية]
      ,[اجمالى قيمة الفاتورة]
      ,[القيمة المدفوعة]
      ,[القيمة المتبقية]
	  ,[الشركة المنتجة]
	   FROM ViewSaleBillShow WHERE [الشركة المنتجة] LIKE '%' + @SearchKey + '%'AND [تاريخ إصدار فاتورة البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END



--Case 17 Search by @ColumnName is GroupName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'GroupName'

BEGIN

SELECT DISTINCT [رقم الفاتورة]
      ,[كود الفاتورة] 
	  ,[اسم العميل]
      ,[نوع الدفع]
      ,[رقم المخزن]
      ,[رقم الفرع]
      ,[تاريخ إصدار فاتورة البيع]
      ,[اجمالى الفاتورة بسعر البيع]
      ,[صافى الفاتورة بسعر البيع]
      ,[اجمالى الفاتورة بسعر الشراء]
      ,[عدد الاصناف]
      ,[اجمالى الربح من الفاتورة]
      ,[اجمالى الضريبة على الفاتورة]
      ,[اجمالى الخصم النقدى على الفاتورة]
      ,[قيمة المصروفات الاضافية]
      ,[اجمالى قيمة الفاتورة]
      ,[القيمة المدفوعة]
      ,[القيمة المتبقية]
	  ,[المجموعة العلمية]
	   FROM ViewSaleBillShow WHERE [المجموعة العلمية] LIKE '%' + @SearchKey + '%';

END


--Case 18 Search by @ColumnName is GroupName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'GroupName'

BEGIN

SELECT DISTINCT [رقم الفاتورة]
      ,[كود الفاتورة] 
	  ,[اسم العميل]
      ,[نوع الدفع]
      ,[رقم المخزن]
      ,[رقم الفرع]
      ,[تاريخ إصدار فاتورة البيع]
      ,[اجمالى الفاتورة بسعر البيع]
      ,[صافى الفاتورة بسعر البيع]
      ,[اجمالى الفاتورة بسعر الشراء]
      ,[عدد الاصناف]
      ,[اجمالى الربح من الفاتورة]
      ,[اجمالى الضريبة على الفاتورة]
      ,[اجمالى الخصم النقدى على الفاتورة]
      ,[قيمة المصروفات الاضافية]
      ,[اجمالى قيمة الفاتورة]
      ,[القيمة المدفوعة]
      ,[القيمة المتبقية]
	  ,[المجموعة العلمية]
	   FROM ViewSaleBillShow WHERE [المجموعة العلمية] LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 19 Search by @ColumnName is SaleDetailID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'SaleDetailID'

BEGIN

SELECT * FROM ViewSaleBillShow WHERE SaleDetailID = Convert(int, @SearchKey);

END
