USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SaleBillUpdate]    Script Date: 6/8/2021 12:48:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SaleBillUpdate]

@SaleBillID int,
@SaleBillCustomer int,
@SaleBillPayType Nvarchar(50),
@SaleBillStore int,
@SaleBillBranch int,
@SaleBillNotes Nvarchar(100),
@SaleBillINVDate Nvarchar(50),
@SaleBillTotalSaleAmount decimal(18,3),
@SaleBillNetSaleAmount decimal(18,3),
@SaleBillTotalBuyAmount decimal(18,3),
@SaleBillItemCount int,
@SaleBillTotalEarn decimal(18,3),
@SaleBillTotalTax decimal(18,3),
@SaleBillTotalDiscound decimal(18,3),
@SaleBillTotalExpenses decimal(18,3),
@SaleBillTotalAmount decimal(18,3),
@SaleBillTotalPaid decimal(18,3),
@SaleBillTotalRemain decimal(18,3),
@PcNameWhoModified Nvarchar(50),
@SaleBillWhoModified int

AS


UPDATE SaleBill SET  SaleBillCustomer = @SaleBillCustomer, 
					 SaleBillPayType = @SaleBillPayType, 
					 SaleBillStore = @SaleBillStore, 
					 SaleBillBranch = @SaleBillBranch, 
					 SaleBillNotes = @SaleBillNotes,
					 SaleBillInvoiceDate = @SaleBillINVDate, 
					 SaleBillTotalSaleAmount =@SaleBillTotalSaleAmount,
					 SaleBillTotalFreeSaleAmount =@SaleBillNetSaleAmount, 
					 SaleBillTotalBuyAmount = @SaleBillTotalBuyAmount,
					 SaleBillItemsCount =@SaleBillItemCount, 
					 SaleBillTotalEarn =@SaleBillTotalEarn, 
					 SaleBillTotalTax =@SaleBillTotalTax, 
					 SaleBillTotalDiscound =@SaleBillTotalDiscound, 
					 SaleBillTotalExpenses =@SaleBillTotalExpenses,
					 SaleBillTotalAmount =@SaleBillTotalAmount, 
					 SaleBillTotalPaid =@SaleBillTotalPaid, 
					 SaleBillTotalRemain =@SaleBillTotalRemain, 
					 PCNameWhoModified =@PcNameWhoModified, 
					 SaleBillWhoModified = @SaleBillWhoModified

WHERE SaleBillID = @SaleBillID;