USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_EditException]    Script Date: 1/6/2021 7:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_EditException]

@ExMsg nvarchar(150),
@ExType nvarchar(100),
@ExStackTrace nvarchar(Max)

AS

-- Declare Keyword nameOfVariable AS Type of Variable
DECLARE @ExID AS bigint = (SELECT ISNULL(MAX(ExceptionID) + 1, 1) FROM Exceptions);

-- if @ExID is greater than 100 (mean = 101)
IF (@ExID > 100)

Begin

/*DELETE All Exceptions from exceptions table */
DELETE FROM Exceptions;

/* Note GETDATE() funtion built in SqlServer which returns datetime */
INSERT INTO Exceptions (ExceptionID,ExceptionMsg, ExceptionType, ExceptionStackTrace, ExceotionDate)
				VALUES (1,@ExMsg, @ExType,@ExStackTrace,GETDATE());

END

-- if @ExID less than or equal 100
IF (@ExID <= 100)

Begin

/* Note GETDATE() funtion built in SqlServer which returns datetime */
INSERT INTO Exceptions (ExceptionID,ExceptionMsg, ExceptionType, ExceptionStackTrace, ExceotionDate)
				VALUES (@ExID,@ExMsg, @ExType,@ExStackTrace,GETDATE());

END