USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SupAccSearch]    Script Date: 6/1/2021 11:13:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SupAccSearch]  --SP_SupAccSearch

/* Parameters of Stored Procedure */
@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100),
@OperaName Nvarchar(100),
@SearchDate1 Nvarchar(100),
@SearchDate2 Nvarchar(100)

--AS Keyword
AS


--Case 1 Search by @ColumnName is SupplierID and SupAccDate Between two Dates (to get operations of supplier Account)
IF @ColumnName = 'SearchBetweenDates'

BEGIN

SELECT * FROM ViewSupplierAccountShow
WHERE [رقم المورد] = CONVERT(int,@SearchKey) AND [تاريخ إنشاء الحركة] BETWEEN @SearchDate1 AND @SearchDate2;

END

--Case 2 Search by @ColumnName is SupplierID and SupAccDate is less than @SearchDate1 (to get operations of supplier Account)
IF @ColumnName = 'SearchLessDate' --SupIDSupAccDateLessThanDate

BEGIN

SELECT * FROM ViewSupplierAccountShow
WHERE [رقم المورد] = CONVERT(int,@SearchKey) AND [تاريخ إنشاء الحركة] < @SearchDate1;

END

--Case 3 Search by @ColumnName is SupplierID and SupAccOperationName is like '%'+ @OperaName + '%' and SupAccDate Between two Dates (to get operations of supplier Account)
IF @ColumnName = 'SearchOperBetweenDates'

BEGIN

SELECT * FROM ViewSupplierAccountShow
WHERE [رقم المورد] = CONVERT(int,@SearchKey) AND [رقم الفاتورة الداخلى] LIKE '%' + @OperaName + '%' AND [تاريخ إنشاء الحركة] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 4 Search by @ColumnName is SupplierID and SupAccOperationName is like '%'+ @OperaName + '%' and SupAccDate is less than @SearchDate1 (to get operations of supplier Account)
IF @ColumnName = 'SearchOperLessDate'

BEGIN

SELECT * FROM ViewSupplierAccountShow
WHERE [رقم المورد] = CONVERT(int,@SearchKey) AND [رقم الفاتورة الداخلى] LIKE '%' + @OperaName + '%' AND [تاريخ إنشاء الحركة] < @SearchDate1;

END

--Case 5 Search by @ColumnName is SupplierID (to get operations of supplier Account)
IF @ColumnName = 'SupplierID'

BEGIN

SELECT * FROM ViewSupplierAccountShow
WHERE [رقم المورد] = CONVERT(int,@SearchKey);

END