USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SupAccShow]    Script Date: 6/9/2021 2:00:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SupAccShow]

AS

SELECT dbo.SupplierAccount.SupAccID AS [رقم الحركة], dbo.SupplierAccount.SupAccSupplierID AS [رقم المورد], dbo.Suppliers.SupplierFullName AS [اسم المورد], dbo.SupplierAccount.SupAccBillID AS [رقم الفاتورة], 
                  dbo.SupplierAccount.SupAccCustomID AS [رقم الفاتورة الداخلى], dbo.SupplierAccount.SupAccOperationName AS [نوع الحركة], dbo.SupplierAccount.SupAccDebit AS [القيمة المدينة], dbo.SupplierAccount.SupAccCredit AS [القيمة الدائنة], 
                  dbo.SupplierAccount.SupAccBalance AS [الرصيد الحالى], dbo.SupplierAccount.SupAccNotes AS [تفاصيل الحركة], dbo.SupplierAccount.SupAccStatus AS [حالة الحركة], dbo.SupplierAccount.SupAccDate AS [تاريخ إنشاء الحركة], 
                  dbo.SupplierAccount.SupAccTime AS [وقت إنشاء الحركة]
FROM     dbo.SupplierAccount INNER JOIN
                  dbo.Suppliers ON dbo.SupplierAccount.SupAccSupplierID = dbo.Suppliers.SupplierID
WHERE  (dbo.SupplierAccount.SupAccStatus = 1)