USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SupAccDeactivate]    Script Date: 6/18/2021 1:38:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SupAccDeactivate]

@SupplierID int,
@SupAccStatus bit,
@PCNameWhoDeleted Nvarchar(50),
@SupAccWhoDeleted int



AS

UPDATE SupplierAccount SET SupAccStatus = @SupAccStatus,
						   PCNameWhoDeleted = @PCNameWhoDeleted,
						   SupAccWhoDeleted = @SupAccWhoDeleted
					 WHERE SupAccSupplierID = @SupplierID;