USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SupAccEdit]    Script Date: 2/25/2021 9:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SupAccEdit]

@ID int,
@SupplierID int,
@SupAccBillID int,
@SupAccCustomID	Nvarchar(50),
@SupAccName	Nvarchar(50),
@SupAccDebit decimal (18,3),
@SupAccCredit decimal (18,3),
@SupAccBalance decimal (18,3),
@SupAccNotes Nvarchar(400),
@PCNameWhoAdded Nvarchar(50),
@SupAccWhoAdded int,
@Date Nvarchar(50),
@Time Nvarchar(50)

AS

INSERT INTO SupplierAccount (SupAccID,SupAccSupplierID,SupAccBillID,SupAccCustomID,SupAccOperationName,SupAccDebit,SupAccCredit,
							 SupAccBalance,SupAccNotes,PCNameWhoAdded,SupAccWhoAdded,SupAccStatus,SupAccDate,SupAccTime)

					VALUES (@ID,@SupplierID,@SupAccBillID,@SupAccCustomID,@SupAccName,@SupAccDebit,@SupAccCredit,@SupAccBalance,@SupAccNotes,
							@PCNameWhoAdded,@SupAccWhoAdded,1,@Date,@Time);
