USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SupAccUpdate]    Script Date: 2/25/2021 9:58:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SupAccUpdate]

@ID int,
@SupplierID int,
@SupAccBillID int,
@SupAccCustomID	Nvarchar(50),
@SupAccName	Nvarchar(50),
@SupAccDebit decimal (18,3),
@SupAccCredit decimal (18,3),
@SupAccBalance decimal (18,3),
@SupAccNotes Nvarchar(400),
@PCNameWhoModified Nvarchar(50),
@SupAccWhoModified int


AS


UPDATE SupplierAccount SET  SupAccSupplierID = @SupplierID,
							SupAccBillID = @SupAccBillID,
							SupAccCustomID = @SupAccCustomID,
							SupAccOperationName = @SupAccName,
							SupAccDebit = @SupAccDebit,
							SupAccCredit = @SupAccCredit,
							SupAccBalance = @SupAccBalance,
							SupAccNotes = @SupAccNotes,
							PCNameWhoModified = @PCNameWhoModified,
							SupAccWhoModified = @SupAccWhoModified WHERE SupAccID = @ID;
								