USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SupAccDelete]    Script Date: 6/18/2021 1:36:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SupAccDelete]

@SupplierID int


AS


DELETE FROM SupplierAccount WHERE SupAccSupplierID = @SupplierID;