USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SupplierSearch]    Script Date: 5/15/2021 5:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SupplierSearch]

/* Stored Procedure Parameters Name 
   @ColName Nvarchar(25),
   @SearchKey NvarChar(100)	
*/
@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100)


AS

--Case 1 Search by @ColumnName is SupCustomCode
IF @ColumnName = 'SupCustomCode'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupCustomCode = @SearchKey;

END

--Case 2 Search by @ColumnName is SupplierFullName
ELSE IF @ColumnName = 'SupplierFullName'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupplierFullName LIKE '%'+ @SearchKey +'%';

END

--Case 3 Search by @ColumnName is SupplierCompanyName
ELSE IF @ColumnName = 'SupplierCompanyName'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupplierCompanyName LIKE '%'+ @SearchKey +'%';

END

--Case 4 Search by @ColumnName is SupplierResponsibleName
ELSE IF @ColumnName = 'SupplierResponsibleName'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupplierResponsibleName LIKE '%'+ @SearchKey +'%';

END

--Case 5 Search by @ColumnName is SupplierPhoneN1
ELSE IF @ColumnName = 'SupplierPhoneN1'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupplierPhoneN1 = @SearchKey OR SupplierPhoneN2 = @SearchKey OR SupplierPhoneN3 = @SearchKey;

END

--Case 6 Search by @ColumnName is SupplierFax
ELSE IF @ColumnName = 'SupplierFax'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupplierFax = @SearchKey;

END

--Case 7 Search by @ColumnName is SupplierAddress
ELSE IF @ColumnName = 'SupplierAddress'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupplierAddress LIKE '%'+ @SearchKey +'%';

END

--Case 8 Search by @ColumnName is SupplierArea
ELSE IF @ColumnName = 'SupplierArea'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupplierArea LIKE '%'+ @SearchKey +'%';

END

--Case 9 Search by @ColumnName is SupplierEmail
ELSE IF @ColumnName = 'SupplierEmail'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE CONVERT(nvarchar, SupplierEmail) LIKE '%'+ @SearchKey +'%';

END

--Case 10 Search by @ColumnName is SupplierType
ELSE IF @ColumnName = 'SupplierType'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupplierType = @SearchKey;

END

--Case 10 Search by @ColumnName is SupplierClassGroup
ELSE IF @ColumnName = 'SupplierClassGroup'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupplierClassGroup = @SearchKey;

END

--Case 11 Search by @ColumnName is SupplierClassSize
ELSE IF @ColumnName = 'SupplierClassSize'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupplierClassSize = @SearchKey;

END

--Case 12 Search by @ColumnName is SupplierCreditLimit
ELSE IF @ColumnName = 'SupplierCreditLimit'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE CONVERT(Nvarchar,SupplierCreditLimit) = @SearchKey;

END

--Case 13 Search by @ColumnName is SupplierDiscount
ELSE IF @ColumnName = 'SupplierDiscount'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupplierDiscount = @SearchKey;

END

--Case 14 Search by @ColumnName is SupplierStatus
ELSE IF @ColumnName = 'SupplierStatus'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',  
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE CONVERT(Nvarchar, SupplierStatus) = @SearchKey;

END

--Case 15 Search by @ColumnName is SupplierBalance
ELSE IF @ColumnName = 'SupplierBalance'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات', 
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE CONVERT(Nvarchar, SupplierBalance) LIKE '%' + @SearchKey + '%';

END

--Case 16 Search by @ColumnName is SupplierID
Else IF @ColumnName = 'SupplierID'

BEGIN

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Suppliers WHERE SupplierID = Convert(int, @SearchKey);

END