USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SupplierEdit]    Script Date: 2/20/2021 1:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SupplierEdit]

@ID int,
@SupCustCode Nvarchar(50),
@SupFullName Nvarchar(100),
@SupCompName Nvarchar(75),
@SupRespName Nvarchar(50),
@SupPhone1 Nvarchar(25),
@SupPhone2 Nvarchar(25),
@SupPhone3 Nvarchar(25),
@SupFax Nvarchar(25),
@SupAddress Nvarchar(100),
@SupArea Nvarchar(50),
@SupEmail varchar(80),
@SupType Nvarchar(25),
@SupClassGRP Nvarchar(50),
@SupClassSize Nvarchar(25),
@SupCreditLimit decimal(18, 3),
@SupDiscount Nvarchar(15),
@SupBalance decimal(18, 3),
@SupNotes Nvarchar(75),
@PCNameWhoAdded Nvarchar(50),
@SupWhoAdded int,
@SupDate Nvarchar(50),
@SupTime Nvarchar(50)

AS

INSERT INTO Suppliers ( SupplierID, SupCustomCode, SupplierFullName, SupplierCompanyName, SupplierResponsibleName, SupplierPhoneN1, SupplierPhoneN2,
					   SupplierPhoneN3, SupplierFax, SupplierAddress, SupplierArea, SupplierEmail, SupplierType, SupplierClassGroup,
					   SupplierClassSize, SupplierCreditLimit, SupplierDiscount,SupplierBalance, SupplierNotes, PCNameWhoAdded, SupplierWhoAdded, 
					   SupplierStatus, SupplierDate, SupplierTime)

			  VALUES (@ID, @SupCustCode, @SupFullName, @SupCompName, @SupRespName, @SupPhone1, @SupPhone2, @SupPhone3, @SupFax, @SupAddress,
					  @SupArea, @SupEmail, @SupType, @SupClassGRP, @SupClassSize, @SupCreditLimit, @SupDiscount, @SupBalance, @SupNotes, @PCNameWhoAdded,
					  @SupWhoAdded, 1, @SupDate, @SupTime);