USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SupplierUpdate]    Script Date: 2/14/2021 8:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SupplierUpdate]

@SupID int,
@SupFullName Nvarchar(100),
@SupCompName Nvarchar(75),
@SupRespName Nvarchar(50),
@SupPhone1 Nvarchar(25),
@SupPhone2 Nvarchar(25),
@SupPhone3 Nvarchar(25),
@SupFax Nvarchar(25),
@SupAddress Nvarchar(100),
@SupArea Nvarchar(50),
@SupEmail varchar(80),
@SupType Nvarchar(25),
@SupClassGRP Nvarchar(50),
@SupClassSize Nvarchar(25),
@SupCreditLimit decimal(18, 3),
@SupDiscount Nvarchar(15),
@SupNotes Nvarchar(75),
@PCNameWhoModified Nvarchar(50),
@SupWhoModified int

AS


UPDATE Suppliers SET SupplierFullName = @SupFullName,
					 SupplierCompanyName = @SupCompName,
					 SupplierResponsibleName = @SupRespName,
					 SupplierPhoneN1 = @SupPhone1,
					 SupplierPhoneN2 = @SupPhone2,
					 SupplierPhoneN3 = @SupPhone3,
					 SupplierFax = @SupFax,
					 SupplierAddress = @SupAddress,
					 SupplierArea = @SupArea,
					 SupplierEmail = @SupEmail, 
					 SupplierType = @SupType, 
					 SupplierClassGroup = @SupClassGRP,
					 SupplierClassSize = @SupClassSize, 
					 SupplierCreditLimit = @SupCreditLimit, 
					 SupplierDiscount = @SupDiscount, 
					 SupplierNotes = @SupNotes, 
					 PCNameWhoModified = @PCNameWhoModified, 
					 SupplierWhoModified = @SupWhoModified 
					 WHERE SupplierID = @SupID;