USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SupplierShow]    Script Date: 2/20/2021 1:26:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SupplierShow]

AS

SELECT SupplierID AS 'الكود الداخلى',
	   SupCustomCode AS 'الكود المورد', 
	   SupplierFullName AS 'اسم المورد', 
	   SupplierCompanyName AS 'اسم الشركة',
	   SupplierResponsibleName AS 'اسم المسئول', 
	   SupplierPhoneN1 AS 'رقم الهاتف الاول',  
	   SupplierPhoneN2 AS 'رقم الهاتف الثانى',  
	   SupplierPhoneN3 AS 'رقم الهاتف الثالث',   
	   SupplierFax AS 'رقم الفاكس',   
	   SupplierAddress AS 'العنوان',
	   SupplierArea AS 'منطقة المورد',  
	   SupplierEmail AS 'البريد اليكترونى',  
	   SupplierType AS 'نوع المورد',  
	   SupplierClassGroup AS 'تصنيف المورد', 
	   SupplierClassSize AS 'حجم التعامل',  
	   SupplierCreditLimit AS 'اقصى حد للمسحوبات',  
	   SupplierDiscount AS 'الخصم الثابت على الاجمالى', 
	   SupplierNotes AS 'ملاحظات',
	   SupplierBalance AS 'رصيد المورد',
	   SupplierStatus AS 'حالة المورد',  
	   SupplierDate AS 'التاريخ',  
	   SupplierTime AS 'الوقت'

FROM Suppliers;