/****** Script for SelectTopNRows command from SSMS  ******/


SELECT 
	   [ItemOperItemID],
	  [ItemOperExpiry] As 'Date',
      SUM ([ItemOperQuantityLarge]) AS 'QtyL',
	  SUM ([ItemOperQuantityMedium]) AS 'QtyM',
	  SUM ([ItemOperQuantitySmall]) AS 'QtyS',
	  [ItemOperStatus]
  
  FROM [PharmacyDB].[dbo].[ItemOperations]

  WHERE [ItemOperStatus] = 1 and [ItemOperQuantityLarge] > 0

  GROUP BY 
		  [ItemOperItemID],
		  [ItemOperQuantityExpity],
		  [ItemOperStatus],
		  [ItemOperExpiry]

	  