USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ItemOperEdit]    Script Date: 7/3/2021 12:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ItemOperEdit]

@OperID int,
@OperName Nvarchar(50),
@OperBuyID	int,
@OperReBuyID int, --Rebuy
@OperSaleID	int, --Sales
@OperReSaleID int, --Sales/Resales
@OperSupplierID int,
@OperCustomerID int, --Sales/Resales
@OperBranchID int,
@OperStoreID int,
@OperItemID int,
@OperItemName Nvarchar(50),
@OperItemBalance decimal(18,3),
@OperItemQtyLarge decimal(18,3),
@OperItemQtyMedium decimal(18,3),
@OperItemQtySmall decimal(18,3),
@OperItemExpiry Nvarchar(50),
@OperItemQtyExpiry decimal(18,3), --Sales/Resales
@OperItemSalePrice decimal(18,3),
@OperItemNetSalePrice decimal(18,3), --Sales/Resales
@OperItemTotalSalePrice decimal(18,3),
@OperItemTotalNetSalePrice decimal(18,3), --Sales/Resales
@OperItemBuyPrice decimal(18,3),
@OperItemTotalBuyPrice decimal(18,3),
@OperItemDiscound decimal(18,3),
@OperItemEarn decimal(18,3),
@OperItemTotalEarn decimal(18,3),
@OperItemTax decimal(18,3),
@OperItemTotalTax decimal(18,3),
@OperItemNotes Nvarchar(50),
@PcNameWhoAdded Nvarchar(50),
@ItemOperWhoAdded int,
@ItemOperDate Nvarchar(50),
@ItemOperTime Nvarchar(50)

--33  --27 
AS


INSERT INTO ItemOperations 
			([ItemOperID],[ItemOperName],[ItemOperBuyID],[ItemOperReBuyID],[ItemOperSaleID],[ItemOperReSaleID]
           ,[ItemOperSupplierID],[ItemOperCustomerID],[ItemOperBranchID],[ItemOperStoreID],[ItemOperItemID]
           ,[ItemOperUnitName],[ItemOperItemBalance],[ItemOperQuantityLarge],[ItemOperQuantityMedium]
		   ,[ItemOperQuantitySmall],[ItemOperExpiry],[ItemOperQuantityExpity],[ItemOperSalePrice]
           ,[ItemOperNetSalePrice],[ItemOperTotalSalePrice],[ItemOperTotalNetSalePrice],[ItemOperBuyPrice]
           ,[ItemOperTotalBuyPrice],[ItemOperDiscound],[ItemOperEarnUnit],[ItemOperTotalEarn],[ItemOperTaxUnit]
           ,[ItemOperTotalTax],[ItemOperNotes],[PCNameWhoAdded],[ItemOperWhoAdded],[ItemOperStatus],[ItemOperDate]
           ,[ItemOperTime])

VALUES 
	(@OperID,@OperName,@OperBuyID,@OperReBuyID,@OperSaleID, @OperReSaleID,
	@OperSupplierID,@OperCustomerID,@OperBranchID,@OperStoreID,@OperItemID,
	@OperItemName,@OperItemBalance,@OperItemQtyLarge,@OperItemQtyMedium,@OperItemQtySmall,
	@OperItemExpiry,@OperItemQtyExpiry,@OperItemSalePrice,@OperItemNetSalePrice,
	@OperItemTotalSalePrice,@OperItemTotalNetSalePrice,@OperItemBuyPrice,@OperItemTotalBuyPrice,
	@OperItemDiscound,@OperItemEarn,@OperItemTotalEarn,@OperItemTax,
	@OperItemTotalTax,@OperItemNotes,@PcNameWhoAdded,@ItemOperWhoAdded,1,@ItemOperDate,@ItemOperTime);



