USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SaleDetailEdit]    Script Date: 7/19/2021 11:58:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SaleDetailEdit]

@SaleDetailID int,
@SaleDetailSaleID int,
@SaleDetailItemID int,
@SaleDetailItemUnit Nvarchar(50),
@SaleDetailItemBalance decimal (18,3),
@SaleDetailItemSalePrice decimal (18,3),
@SaleDetailItemNetSalePrice decimal (18,3),
@SaleDetailItemBuyPrice  decimal (18,3),
@SaleDetailSaleQuantity  decimal (18,3),
@SaleDetailSaleExpiryDate Nvarchar(50),

@SaleDetailSaleExpiryQty  decimal (18,3),
@SaleDetailTotalSale  decimal (18,3),
@SaleDetailNetSale  decimal (18,3),

@SaleDetailDiscound  decimal (18,3),
@SaleDetailTotalBuy  decimal (18,3),
@SaleDetailUnitTax decimal (18,3),
@SaleDetailTotalTax  decimal (18,3),
@SaleDetailUnitEarn  decimal (18,3),
@SaleDetailTotalEarn  decimal (18,3),
@SaleDetailNotes Nvarchar(50),
@PCNameWhoAdded Nvarchar(50),
@SaleDetailWhoAdded int,
@SaleDetailDate Nvarchar(50),
@SaleDetailTime Nvarchar(50)

AS



INSERT INTO SaleDetails ([SaleDetailID] ,[SaleDetailSaleID],[SaleDetailItemID]
           ,[SaleDetailItemUnit],[SaleDetailItemBalance]
           ,[SaleDetailItemSalePrice],[SaleDetailItemFreeSalePrice]
           ,[SaleDetailItemBuyPrice],[SaleDetailSaleQuantity]
           ,[SaleDetailSaleExpiryDate],[SaleDetailSaleExpiryQuantity]
           ,[SaleDetailTotalSale],[SaleDetailNetSale],[SaleDetailDiscound]
           ,[SaleDetailTotalBuy],[SaleDetailUnitTax],[SaleDetailTotalTax]
           ,[SaleDetailUnitEarn],[SaleDetailTotalEarn]
		   ,[SaleDetailReSaleItem],[SaleDetailNotes]
           ,[PCNameWhoAdded],[SaleDetailWhoAdded]
           ,[SaleDetailStatus],[SaleDetailDate],[SaleDetailTime])


VALUES (@SaleDetailID, @SaleDetailSaleID, @SaleDetailItemID,
		@SaleDetailItemUnit, @SaleDetailItemBalance,
		@SaleDetailItemSalePrice, @SaleDetailItemNetSalePrice,
	    @SaleDetailItemBuyPrice, @SaleDetailSaleQuantity,
		@SaleDetailSaleExpiryDate, @SaleDetailSaleExpiryQty,
		@SaleDetailTotalSale, @SaleDetailNetSale, @SaleDetailDiscound,
		@SaleDetailTotalBuy, @SaleDetailUnitTax ,@SaleDetailTotalTax,
		@SaleDetailUnitEarn, @SaleDetailTotalEarn,
		0, @SaleDetailNotes,
		@PCNameWhoAdded, @SaleDetailWhoAdded,
		1, @SaleDetailDate, @SaleDetailTime);
