USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CustAccDeactivate]    Script Date: 6/18/2021 1:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CustAccDeactivate]

@CustomerID int,
@CustAccStatus bit,
@PCNameWhoDeleted Nvarchar(50),
@CustAccWhoDeleted int



AS

UPDATE CustomerAccount SET CustAccStatus = @CustAccStatus,
						   PCNameWhoDeleted = @PCNameWhoDeleted,
						   CustAccWhoDeleted = @CustAccWhoDeleted
					 WHERE CustAccCustomerID = @CustomerID;