USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CustAccDelete]    Script Date: 6/18/2021 1:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CustAccDelete]

@CustomerID int


AS


DELETE FROM CustomerAccount WHERE CustAccCustomerID = @CustomerID;