USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_BuyBillUpdate]    Script Date: 2/6/2021 1:42:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_BuyBillUpdate]

@BuyBillID int,
@BuyBillSupplier int,
@BuyBillSupplierNo Nvarchar(50),
@BuyBillPayType Nvarchar(50),
@BuyBillStore int,
@BuyBillBranch int,
@BuyBillNotes Nvarchar(100),
@BuyBillINVDate Nvarchar(50),
@BuyBillTotalSaleAmount decimal(18,3),
@BuyBillTotalBuyAmount decimal(18,3),
@BuyBillItemCount int,
@BuyBillTotalEarn decimal(18,3),
@BuyBillTotalTax decimal(18,3),
@BuyBillTotalDiscound decimal(18,3),
@BuyBillTotalExpenses decimal(18,3),
@BuyBillTotalAmount decimal(18,3),
@BuyBillTotalPaid decimal(18,3),
@BuyBillTotalRemain decimal(18,3),
@PcNameWhoModified Nvarchar(50),
@BuyBillWhoModified int

AS


UPDATE BuyBill SET   BuyBillSupplier = @BuyBillSupplier, 
				     BuyBillSupplierNo = @BuyBillSupplierNo, 
					 BuyBillPayType = @BuyBillPayType, 
					 BuyBillStore = @BuyBillStore, 
					 BuyBillBranch = @BuyBillBranch, 
					 BuyBillNotes = @BuyBillNotes,
					 BuyBillInvoiceDate = @BuyBillINVDate, 
					 BuyBillTotalSaleAmount =@BuyBillTotalSaleAmount,
					 BuyBillTotalBuyAmount =@BuyBillTotalBuyAmount, 
					 BuyBillItemsCount =@BuyBillItemCount, 
					 BuyBillTotalEarn =@BuyBillTotalEarn, 
					 BuyBillTotalTax =@BuyBillTotalTax, 
					 BuyBillTotalDiscound =@BuyBillTotalDiscound, 
					 BuyBillTotalExpenses =@BuyBillTotalExpenses,
					 BuyBillTotalAmount =@BuyBillTotalAmount, 
					 BuyBillTotalPaid =@BuyBillTotalPaid, 
					 BuyBillTotalRemain =@BuyBillTotalRemain, 
					 PCNameWhoModified =@PcNameWhoModified, 
					 BuyBillWhoModified = @BuyBillWhoModified

WHERE BuyBillID = @BuyBillID;


