USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_BuyBillEdit]    Script Date: 2/6/2021 1:38:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_BuyBillEdit]

@BuyBillID int,
@BuyBillCustomID Nvarchar(50),
@BuyBillSupplier int,
@BuyBillSupplierNo Nvarchar(50),
@BuyBillPayType Nvarchar(50),
@BuyBillStore int,
@BuyBillBranch int,
@BuyBillNotes Nvarchar(100),
@BuyBillINVDate Nvarchar(50),
@BuyBillTotalSaleAmount decimal(18,3),
@BuyBillTotalBuyAmount decimal(18,3),
@BuyBillItemCount int,
@BuyBillTotalEarn decimal(18,3),
@BuyBillTotalTax decimal(18,3),
@BuyBillTotalDiscound decimal(18,3),
@BuyBillTotalExpenses decimal(18,3),
@BuyBillTotalAmount decimal(18,3),
@BuyBillTotalPaid decimal(18,3),
@BuyBillTotalRemain decimal(18,3),
@PcNameWhoAdded Nvarchar(50),
@BuyBillWhoAdded int,
@BuyBillDate Nvarchar(50),
@BuyBillTime Nvarchar(50)

AS

INSERT INTO BuyBill (BuyBillID, BuyBillCustomID, BuyBillSupplier, BuyBillSupplierNo, BuyBillPayType, BuyBillStore, BuyBillBranch, BuyBillNotes, 
					 buybillInvoiceDate,BuyBillTotalSaleAmount,BuyBillTotalBuyAmount, BuyBillItemsCount, BuyBillTotalEarn, BuyBillTotalTax, 
					 BuyBillTotalDiscound, BuyBillTotalExpenses,BuyBillTotalAmount, BuyBillTotalPaid, BuyBillTotalRemain, PCNameWhoAdded, 
					 BuyBillWhoAdded, BuyBillStatus, BuyBillDate, BuyBillTime)
			
			VALUES  (@BuyBillID,@BuyBillCustomID, @BuyBillSupplier,@BuyBillSupplierNo,@BuyBillPayType,@BuyBillStore,@BuyBillBranch,@BuyBillNotes,
					 @BuyBillINVDate, @BuyBillTotalSaleAmount,@BuyBillTotalBuyAmount,@BuyBillItemCount,@BuyBillTotalEarn ,@BuyBillTotalTax,
			         @BuyBillTotalDiscound ,@BuyBillTotalExpenses,@BuyBillTotalAmount,@BuyBillTotalPaid ,@BuyBillTotalRemain,@PcNameWhoAdded,
			         @BuyBillWhoAdded, 1,@BuyBillDate,@BuyBillTime);