USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_BuyBillSearch]    Script Date: 5/15/2021 11:18:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_BuyBillSearch]

@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100),
@CheckSearchDate bit,
@SearchDate1 Nvarchar(50),
@SearchDate2 Nvarchar(50)

AS

--Case * Search by @ColumnName is BuyBillID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 and @ColumnName = 'BuyBillID'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [رقم الفاتورة] = @SearchKey;

END

--Case 1 Search by @ColumnName is BuyBillCustomID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 and @ColumnName = 'BuyBillCustomID'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [كود الفاتورة] = @SearchKey;

END

--Case 2 Search by @ColumnName is BuyBillID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'BuyBillPayType'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [نوع الدفع] =  @SearchKey;

END

--Case 3 Search by @ColumnName is BuyBillID @SearchKey = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'BuyBillPayType'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [نوع الدفع] =  @SearchKey AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 4 Search by @ColumnName is BuyBillInvoiceDate And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'BuyBillInvoiceDate'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 5 Search by @ColumnName is StoreName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'StoreName'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [اسم المخزن] =  @SearchKey;

END


--Case 6 Search by @ColumnName is StoreName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'StoreName'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [اسم المخزن] =  @SearchKey AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;

END



--Case 7 Search by @ColumnName is BranchName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'BranchName'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [اسم الفرع] =  @SearchKey;

END


--Case 8 Search by @ColumnName is BranchName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'BranchName'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [اسم الفرع] =  @SearchKey AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 9 Search by @ColumnName is BuyBillSupplierNo And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 and @ColumnName = 'BuyBillSupplierNo'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [رقم فاتورة المورد] = @SearchKey;

END



--Case 10 Search by @ColumnName is SupplierFullName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'SupplierFullName'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [اسم المورد] =  @SearchKey;

END


--Case 11 Search by @ColumnName is SupplierFullName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'SupplierFullName'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [اسم المورد] =  @SearchKey AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 12 Search by @ColumnName is ItemBarcode1 And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'ItemBarcode1'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [باركود الاول للصنف] =  @SearchKey OR [الباركود الثانى للصنف] =  @SearchKey OR [الباركود الثالث] =  @SearchKey;

END


--Case 13 Search by @ColumnName is ItemBarcode1 And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'ItemBarcode1'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [باركود الاول للصنف] =  @SearchKey OR [الباركود الثانى للصنف] =  @SearchKey OR [الباركود الثالث] =  @SearchKey AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 14 Search by @ColumnName is ItemName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'ItemName'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [اسم الصنف] LIKE '%' + @SearchKey + '%' OR [الصنف بالانجليزى] LIKE '%' + @SearchKey + '%';

END


--Case 15 Search by @ColumnName is ItemName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'ItemName'

BEGIN

--Note Sql Statment ColumnName LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN  @SearchDate1 AND @SearchDate2 OR ColumnName2 LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;
--SELECT * FROM ViewBuyBillShow  WHERE [الصنف بالانجليزى] LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2 OR [اسم الصنف] LIKE '%' + @SearchKey + '%'  AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;
SELECT * FROM ViewBuyBillShow  WHERE [اسم الصنف] LIKE '%' + @SearchKey + '%'  AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2 OR [الصنف بالانجليزى] LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;

END



--Case 16 Search by @ColumnName is CompanyName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'CompanyName'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [الشركة المنتجة] LIKE '%' + @SearchKey + '%';

END


--Case 17 Search by @ColumnName is CompanyName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'CompanyName'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [الشركة المنتجة] LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;

END



--Case 18 Search by @ColumnName is GroupName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'GroupName'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [المجموعة العلمية] LIKE '%' + @SearchKey + '%';

END


--Case 19 Search by @ColumnName is GroupName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'GroupName'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE [المجموعة العلمية] LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 16 Search by @ColumnName is BuyDetailID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'BuyDetailID'

BEGIN

SELECT * FROM ViewBuyBillShow WHERE BuyDetailID = Convert(int, @SearchKey);

END

