USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CompanyEdit]    Script Date: 11/7/2020 11:07:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CompanyEdit]

@CustomID Nvarchar(50),
@CompName Nvarchar(100),
@CompPhoneN1 Nvarchar(25),
@CompPhoneN2 Nvarchar(25),
@CompPhoneN3 Nvarchar(25),
@CompFax Nvarchar(25),
@CompEmail Varchar(80),
@CompWeb Varchar(100),
@CompAddress Nvarchar(120),
@CompManager int,
@CompLogo Image,
@CompImgStatus varchar(25),
@CompType Nvarchar(25),
@CompCategory Nvarchar(25),
@CompCommerical Nvarchar(50),
@CompTax Nvarchar(50),
@CompCity Nvarchar(25),
@CompCountry Nvarchar(25),
@CompFinStartDate Nvarchar(50),
@CompFinEndDate Nvarchar(50),
@PCNameWhoAdded Nvarchar(50),
@CompWhoAdded int,
@Date Nvarchar(50),
@Time Nvarchar(50)

AS

IF (@CompImgStatus = 'WithImage')

Begin

INSERT INTO Companies 
			(CompanyCustomID, CompanyName, CompanyPhoneN1, CompanyPhoneN2, CompanyPhoneN3, CompanyFax, CompanyEmail, CompanyWebsite,
			 CompanyAddress, CompanyManager, CompanyLogo, CompanyType, CompanyCategory, CompanyCommericalNo, CompanyTaxNo, CompanyCity, CompanyCountry,
			 CompanyFinStartDate, CompanyFinEndDate, PCNameWhoAdded, CompanyWhoAdded, CompanyStatus, CompanyDate, 
			 CompanyTime)

      VALUES (@CustomID, @CompName, @CompPhoneN1, @CompPhoneN2, @CompPhoneN3, @CompFax, @CompEmail, @CompWeb, @CompAddress,
			  @CompManager, @CompLogo, @CompType, @CompCategory, @CompCommerical, @CompTax, @CompCity, @CompCountry, @CompFinStartDate,
			  @CompFinEndDate, @PCNameWhoAdded, @CompWhoAdded, 1, @Date, @Time);


END  


Else IF (@CompImgStatus = 'WithoutImage')

Begin

INSERT INTO Companies 
			(CompanyCustomID, CompanyName, CompanyPhoneN1, CompanyPhoneN2, CompanyPhoneN3, CompanyFax, CompanyEmail, CompanyWebsite,
			 CompanyAddress, CompanyManager, CompanyType, CompanyCategory, CompanyCommericalNo, CompanyTaxNo, CompanyCity, CompanyCountry,
			 CompanyFinStartDate, CompanyFinEndDate, PCNameWhoAdded, CompanyWhoAdded, CompanyStatus, CompanyDate, 
			 CompanyTime)

      VALUES (@CustomID, @CompName, @CompPhoneN1, @CompPhoneN2, @CompPhoneN3, @CompFax, @CompEmail, @CompWeb, @CompAddress,
			  @CompManager, @CompType, @CompCategory, @CompCommerical, @CompTax, @CompCity, @CompCountry, @CompFinStartDate,
			  @CompFinEndDate, @PCNameWhoAdded, @CompWhoAdded, 1, @Date, @Time);
END 