USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CompanyShow]    Script Date: 11/7/2020 9:27:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CompanyShow]

AS

SELECT 
	   CompanyID AS 'الكود الداخلى',
	   CompanyCustomID AS 'كود الشركة',
	   CompanyName AS 'اسم الشركة',
	   CompanyPhoneN1 AS 'رقم المحمول الاول',
	   CompanyPhoneN2 AS 'رقم المحمول الثانى',
	   CompanyPhoneN3 AS 'رقم المحمول الثالث',
	   CompanyFax AS 'الفاكس',
	   CompanyEmail AS 'الايميل', 
	   CompanyWebsite AS 'موقع الشركة',
	   CompanyAddress AS 'العنوان', 
	   CompanyManager AS 'مدير الشركة',
	   CompanyLogo AS 'شعار الشركة',
	   CompanyType AS 'نوع الشركة', 
	   CompanyCategory AS 'نشاط الشركة',  
	   CompanyCommericalNo AS 'رقم السجل التجارى', 
	   CompanyTaxNo AS 'رقم البطاقة الضريبية',
	   CompanyCity AS 'المدينة', 
	   CompanyCountry AS 'الدولة',
	   CompanyFinStartDate AS 'بداية السنة المالية', 
	   CompanyFinEndDate AS 'نهاية السنة المالية',
	   CompanyStatus AS 'حالة الشركة', 
	   CompanyDate AS 'التاريخ', 
	   CompanyTime AS 'الوقت'

FROM Companies;