USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CompanyDeactivate]    Script Date: 11/7/2020 11:01:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CompanyDeactivate]

@ID int,
@Status bit,
@PCNameWhoDeleted Nvarchar(50),
@CompWhoDeleted int

AS

UPDATE Companies SET CompanyStatus = @Status,
					 PCNameWhoDeleted = @PcNameWhoDeleted,
					 CompanyWhoDeleted = @CompWhoDeleted

					 WHERE CompanyID = @ID ; 