USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CompanyUpdate]    Script Date: 11/7/2020 11:07:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CompanyUpdate]

@ID int,
@CompName Nvarchar(100),
@CompPhoneN1 Nvarchar(25),
@CompPhoneN2 Nvarchar(25),
@CompPhoneN3 Nvarchar(25),
@CompFax Nvarchar(25),
@CompEmail Varchar(80),
@CompWeb Varchar(100),
@CompAddress Nvarchar(120),
@CompManager int,
@CompLogo Image,
@CompImgStatus varchar(25),
@CompType Nvarchar(25),
@CompCategory Nvarchar(25),
@CompCommerical Nvarchar(50),
@CompTax Nvarchar(50),
@CompCity Nvarchar(25),
@CompCountry Nvarchar(25),
@CompFinStartDate Nvarchar(50),
@CompFinEndDate Nvarchar(50),
@PCNameWhoModified Nvarchar(50),
@CompWhoModified int

AS

IF (@CompImgStatus = 'WithImage')

BEGIN

UPDATE Companies SET CompanyName = @CompName,
					 CompanyPhoneN1 = @CompPhoneN1,
					 CompanyPhoneN2 = @CompPhoneN2,
					 CompanyPhoneN3 = @CompPhoneN3,
					 CompanyFax = @CompFax,
					 CompanyEmail = @CompEmail,
					 CompanyWebsite = @CompWeb,
					 CompanyAddress = @CompAddress,
					 CompanyManager = @CompManager,
					 CompanyLogo = @CompLogo,
					 CompanyType = @CompType,
					 CompanyCategory = @CompCategory,
					 CompanyCommericalNo = @CompCommerical,
					 CompanyTaxNo = @CompTax,
					 CompanyCity = @CompCity,
					 CompanyCountry = @CompCountry, 
					 CompanyFinStartDate = @CompFinStartDate,
					 CompanyFinEndDate = @CompFinEndDate,
					 PCNameWhoModified = @PCNameWhoModified,
					 CompanyWhoModified = @CompWhoModified

					 WHERE CompanyID =@ID;

END


ELSE IF (@CompImgStatus = 'WithoutImage')

BEGIN

UPDATE Companies SET CompanyName = @CompName,
					 CompanyPhoneN1 = @CompPhoneN1,
					 CompanyPhoneN2 = @CompPhoneN2,
					 CompanyPhoneN3 = @CompPhoneN3,
					 CompanyFax = @CompFax,
					 CompanyEmail = @CompEmail,
					 CompanyWebsite = @CompWeb,
					 CompanyAddress = @CompAddress,
					 CompanyManager = @CompManager,
					 CompanyType = @CompType,
					 CompanyCategory = @CompCategory,
					 CompanyCommericalNo = @CompCommerical,
					 CompanyTaxNo = @CompTax,
					 CompanyCity = @CompCity,
					 CompanyCountry = @CompCountry, 
					 CompanyFinStartDate = @CompFinStartDate,
					 CompanyFinEndDate = @CompFinEndDate,
					 PCNameWhoModified = @PCNameWhoModified,
					 CompanyWhoModified = @CompWhoModified

					 WHERE CompanyID =@ID;

END