USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CompanySearch]    Script Date: 11/7/2020 9:28:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CompanySearch]

@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100)

AS

--Case 1 Search by @ColumnName is CompanyCustomID
IF @ColumnName = 'CompanyCustomID'

BEGIN

SELECT 
	   CompanyID AS 'الكود الداخلى',
	   CompanyCustomID AS 'كود الشركة',
	   CompanyName AS 'اسم الشركة',
	   CompanyPhoneN1 AS 'رقم المحمول الاول',
	   CompanyPhoneN2 AS 'رقم المحمول الثانى',
	   CompanyPhoneN3 AS 'رقم المحمول الثالث',
	   CompanyFax AS 'الفاكس',
	   CompanyEmail AS 'الايميل', 
	   CompanyWebsite AS 'موقع الشركة',
	   CompanyAddress AS 'العنوان', 
	   CompanyManager AS 'مدير الشركة',
	   CompanyLogo AS 'شعار الشركة',
	   CompanyType AS 'نوع الشركة', 
	   CompanyCategory AS 'نشاط الشركة',  
	   CompanyCommericalNo AS 'رقم السجل التجارى', 
	   CompanyTaxNo AS 'رقم البطاقة الضريبية',
	   CompanyCity AS 'المدينة', 
	   CompanyCountry AS 'الدولة',
	   CompanyFinStartDate AS 'بداية السنة المالية', 
	   CompanyFinEndDate AS 'نهاية السنة المالية',
	   CompanyStatus AS 'حالة الشركة', 
	   CompanyDate AS 'التاريخ', 
	   CompanyTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Companies WHERE CompanyCustomID = @SearchKey;

END

--Case 2 Search by @ColumnName is CompanyName
ELSE IF @ColumnName = 'CompanyName'

BEGIN

SELECT 
	   CompanyID AS 'الكود الداخلى',
	   CompanyCustomID AS 'كود الشركة',
	   CompanyName AS 'اسم الشركة',
	   CompanyPhoneN1 AS 'رقم المحمول الاول',
	   CompanyPhoneN2 AS 'رقم المحمول الثانى',
	   CompanyPhoneN3 AS 'رقم المحمول الثالث',
	   CompanyFax AS 'الفاكس',
	   CompanyEmail AS 'الايميل', 
	   CompanyWebsite AS 'موقع الشركة',
	   CompanyAddress AS 'العنوان', 
	   CompanyManager AS 'مدير الشركة',
	   CompanyLogo AS 'شعار الشركة',
	   CompanyType AS 'نوع الشركة', 
	   CompanyCategory AS 'نشاط الشركة',  
	   CompanyCommericalNo AS 'رقم السجل التجارى', 
	   CompanyTaxNo AS 'رقم البطاقة الضريبية',
	   CompanyCity AS 'المدينة', 
	   CompanyCountry AS 'الدولة',
	   CompanyFinStartDate AS 'بداية السنة المالية', 
	   CompanyFinEndDate AS 'نهاية السنة المالية',
	   CompanyStatus AS 'حالة الشركة', 
	   CompanyDate AS 'التاريخ', 
	   CompanyTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Companies WHERE CompanyName LIKE '%'+ @SearchKey +'%';

END

--Case 3 Search by @ColumnName is CompanyPhoneN1
ELSE IF @ColumnName = 'CompanyPhoneN1'

BEGIN

SELECT 
	   CompanyID AS 'الكود الداخلى',
	   CompanyCustomID AS 'كود الشركة',
	   CompanyName AS 'اسم الشركة',
	   CompanyPhoneN1 AS 'رقم المحمول الاول',
	   CompanyPhoneN2 AS 'رقم المحمول الثانى',
	   CompanyPhoneN3 AS 'رقم المحمول الثالث',
	   CompanyFax AS 'الفاكس',
	   CompanyEmail AS 'الايميل', 
	   CompanyWebsite AS 'موقع الشركة',
	   CompanyAddress AS 'العنوان', 
	   CompanyManager AS 'مدير الشركة',
	   CompanyLogo AS 'شعار الشركة',
	   CompanyType AS 'نوع الشركة', 
	   CompanyCategory AS 'نشاط الشركة',  
	   CompanyCommericalNo AS 'رقم السجل التجارى', 
	   CompanyTaxNo AS 'رقم البطاقة الضريبية',
	   CompanyCity AS 'المدينة', 
	   CompanyCountry AS 'الدولة',
	   CompanyFinStartDate AS 'بداية السنة المالية', 
	   CompanyFinEndDate AS 'نهاية السنة المالية',
	   CompanyStatus AS 'حالة الشركة', 
	   CompanyDate AS 'التاريخ', 
	   CompanyTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Companies WHERE CompanyPhoneN1 = @SearchKey OR CompanyPhoneN2 = @SearchKey OR CompanyPhoneN3 = @SearchKey;

END

--Case 4 Search by @ColumnName is CompanyFax
ELSE IF @ColumnName = 'CompanyFax'

BEGIN

SELECT 
	   CompanyID AS 'الكود الداخلى',
	   CompanyCustomID AS 'كود الشركة',
	   CompanyName AS 'اسم الشركة',
	   CompanyPhoneN1 AS 'رقم المحمول الاول',
	   CompanyPhoneN2 AS 'رقم المحمول الثانى',
	   CompanyPhoneN3 AS 'رقم المحمول الثالث',
	   CompanyFax AS 'الفاكس',
	   CompanyEmail AS 'الايميل', 
	   CompanyWebsite AS 'موقع الشركة',
	   CompanyAddress AS 'العنوان', 
	   CompanyManager AS 'مدير الشركة',
	   CompanyLogo AS 'شعار الشركة',
	   CompanyType AS 'نوع الشركة', 
	   CompanyCategory AS 'نشاط الشركة',  
	   CompanyCommericalNo AS 'رقم السجل التجارى', 
	   CompanyTaxNo AS 'رقم البطاقة الضريبية',
	   CompanyCity AS 'المدينة', 
	   CompanyCountry AS 'الدولة',
	   CompanyFinStartDate AS 'بداية السنة المالية', 
	   CompanyFinEndDate AS 'نهاية السنة المالية',
	   CompanyStatus AS 'حالة الشركة', 
	   CompanyDate AS 'التاريخ', 
	   CompanyTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Companies WHERE CompanyFax = @SearchKey;

END

--Case 5 Search by @ColumnName is CompanyAddress
ELSE IF @ColumnName = 'CompanyAddress'

BEGIN

SELECT 
	   CompanyID AS 'الكود الداخلى',
	   CompanyCustomID AS 'كود الشركة',
	   CompanyName AS 'اسم الشركة',
	   CompanyPhoneN1 AS 'رقم المحمول الاول',
	   CompanyPhoneN2 AS 'رقم المحمول الثانى',
	   CompanyPhoneN3 AS 'رقم المحمول الثالث',
	   CompanyFax AS 'الفاكس',
	   CompanyEmail AS 'الايميل', 
	   CompanyWebsite AS 'موقع الشركة',
	   CompanyAddress AS 'العنوان', 
	   CompanyManager AS 'مدير الشركة',
	   CompanyLogo AS 'شعار الشركة',
	   CompanyType AS 'نوع الشركة', 
	   CompanyCategory AS 'نشاط الشركة',  
	   CompanyCommericalNo AS 'رقم السجل التجارى', 
	   CompanyTaxNo AS 'رقم البطاقة الضريبية',
	   CompanyCity AS 'المدينة', 
	   CompanyCountry AS 'الدولة',
	   CompanyFinStartDate AS 'بداية السنة المالية', 
	   CompanyFinEndDate AS 'نهاية السنة المالية',
	   CompanyStatus AS 'حالة الشركة', 
	   CompanyDate AS 'التاريخ', 
	   CompanyTime AS 'الوقت'


/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Companies WHERE CompanyAddress LIKE '%'+ @SearchKey +'%';

END

--Case 6 Search by @ColumnName is CompanyEmail
ELSE IF @ColumnName = 'CompanyEmail'

BEGIN

SELECT 
	   CompanyID AS 'الكود الداخلى',
	   CompanyCustomID AS 'كود الشركة',
	   CompanyName AS 'اسم الشركة',
	   CompanyPhoneN1 AS 'رقم المحمول الاول',
	   CompanyPhoneN2 AS 'رقم المحمول الثانى',
	   CompanyPhoneN3 AS 'رقم المحمول الثالث',
	   CompanyFax AS 'الفاكس',
	   CompanyEmail AS 'الايميل', 
	   CompanyWebsite AS 'موقع الشركة',
	   CompanyAddress AS 'العنوان', 
	   CompanyManager AS 'مدير الشركة',
	   CompanyLogo AS 'شعار الشركة',
	   CompanyType AS 'نوع الشركة', 
	   CompanyCategory AS 'نشاط الشركة',  
	   CompanyCommericalNo AS 'رقم السجل التجارى', 
	   CompanyTaxNo AS 'رقم البطاقة الضريبية',
	   CompanyCity AS 'المدينة', 
	   CompanyCountry AS 'الدولة',
	   CompanyFinStartDate AS 'بداية السنة المالية', 
	   CompanyFinEndDate AS 'نهاية السنة المالية',
	   CompanyStatus AS 'حالة الشركة', 
	   CompanyDate AS 'التاريخ', 
	   CompanyTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Companies WHERE CONVERT(Nvarchar,CompanyEmail) = @SearchKey;

END

--Case 7 Search by @ColumnName is BranchStatus
ELSE IF @ColumnName = 'CompanyWebsite'

BEGIN

SELECT 
	   CompanyID AS 'الكود الداخلى',
	   CompanyCustomID AS 'كود الشركة',
	   CompanyName AS 'اسم الشركة',
	   CompanyPhoneN1 AS 'رقم المحمول الاول',
	   CompanyPhoneN2 AS 'رقم المحمول الثانى',
	   CompanyPhoneN3 AS 'رقم المحمول الثالث',
	   CompanyFax AS 'الفاكس',
	   CompanyEmail AS 'الايميل', 
	   CompanyWebsite AS 'موقع الشركة',
	   CompanyAddress AS 'العنوان', 
	   CompanyManager AS 'مدير الشركة',
	   CompanyLogo AS 'شعار الشركة',
	   CompanyType AS 'نوع الشركة', 
	   CompanyCategory AS 'نشاط الشركة',  
	   CompanyCommericalNo AS 'رقم السجل التجارى', 
	   CompanyTaxNo AS 'رقم البطاقة الضريبية',
	   CompanyCity AS 'المدينة', 
	   CompanyCountry AS 'الدولة',
	   CompanyFinStartDate AS 'بداية السنة المالية', 
	   CompanyFinEndDate AS 'نهاية السنة المالية',
	   CompanyStatus AS 'حالة الشركة', 
	   CompanyDate AS 'التاريخ', 
	   CompanyTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Companies WHERE CONVERT(Nvarchar,CompanyWebsite) = @SearchKey;

END

--Case 8 Search by @ColumnName is BranchStatus
ELSE IF @ColumnName = 'CompanyType'

BEGIN

SELECT 
	   CompanyID AS 'الكود الداخلى',
	   CompanyCustomID AS 'كود الشركة',
	   CompanyName AS 'اسم الشركة',
	   CompanyPhoneN1 AS 'رقم المحمول الاول',
	   CompanyPhoneN2 AS 'رقم المحمول الثانى',
	   CompanyPhoneN3 AS 'رقم المحمول الثالث',
	   CompanyFax AS 'الفاكس',
	   CompanyEmail AS 'الايميل', 
	   CompanyWebsite AS 'موقع الشركة',
	   CompanyAddress AS 'العنوان', 
	   CompanyManager AS 'مدير الشركة',
	   CompanyLogo AS 'شعار الشركة',
	   CompanyType AS 'نوع الشركة', 
	   CompanyCategory AS 'نشاط الشركة',  
	   CompanyCommericalNo AS 'رقم السجل التجارى', 
	   CompanyTaxNo AS 'رقم البطاقة الضريبية',
	   CompanyCity AS 'المدينة', 
	   CompanyCountry AS 'الدولة',
	   CompanyFinStartDate AS 'بداية السنة المالية', 
	   CompanyFinEndDate AS 'نهاية السنة المالية',
	   CompanyStatus AS 'حالة الشركة', 
	   CompanyDate AS 'التاريخ', 
	   CompanyTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Companies WHERE CompanyType = @SearchKey;

END

--Case 9 Search by @ColumnName is CompanyManager
ELSE IF @ColumnName = 'CompanyManager'

BEGIN

SELECT 
	   CompanyID AS 'الكود الداخلى',
	   CompanyCustomID AS 'كود الشركة',
	   CompanyName AS 'اسم الشركة',
	   CompanyPhoneN1 AS 'رقم المحمول الاول',
	   CompanyPhoneN2 AS 'رقم المحمول الثانى',
	   CompanyPhoneN3 AS 'رقم المحمول الثالث',
	   CompanyFax AS 'الفاكس',
	   CompanyEmail AS 'الايميل', 
	   CompanyWebsite AS 'موقع الشركة',
	   CompanyAddress AS 'العنوان', 
	   CompanyManager AS 'مدير الشركة',
	   CompanyLogo AS 'شعار الشركة',
	   CompanyType AS 'نوع الشركة', 
	   CompanyCategory AS 'نشاط الشركة',  
	   CompanyCommericalNo AS 'رقم السجل التجارى', 
	   CompanyTaxNo AS 'رقم البطاقة الضريبية',
	   CompanyCity AS 'المدينة', 
	   CompanyCountry AS 'الدولة',
	   CompanyFinStartDate AS 'بداية السنة المالية', 
	   CompanyFinEndDate AS 'نهاية السنة المالية',
	   CompanyStatus AS 'حالة الشركة', 
	   CompanyDate AS 'التاريخ', 
	   CompanyTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Companies WHERE CONVERT(Nvarchar,CompanyManager) = @SearchKey;

END

--Case 9 Search by @ColumnName is CompanyStatus
ELSE IF @ColumnName = 'CompanyStatus'

BEGIN

SELECT 
	   CompanyID AS 'الكود الداخلى',
	   CompanyCustomID AS 'كود الشركة',
	   CompanyName AS 'اسم الشركة',
	   CompanyPhoneN1 AS 'رقم المحمول الاول',
	   CompanyPhoneN2 AS 'رقم المحمول الثانى',
	   CompanyPhoneN3 AS 'رقم المحمول الثالث',
	   CompanyFax AS 'الفاكس',
	   CompanyEmail AS 'الايميل', 
	   CompanyWebsite AS 'موقع الشركة',
	   CompanyAddress AS 'العنوان', 
	   CompanyManager AS 'مدير الشركة',
	   CompanyLogo AS 'شعار الشركة',
	   CompanyType AS 'نوع الشركة', 
	   CompanyCategory AS 'نشاط الشركة',  
	   CompanyCommericalNo AS 'رقم السجل التجارى', 
	   CompanyTaxNo AS 'رقم البطاقة الضريبية',
	   CompanyCity AS 'المدينة', 
	   CompanyCountry AS 'الدولة',
	   CompanyFinStartDate AS 'بداية السنة المالية', 
	   CompanyFinEndDate AS 'نهاية السنة المالية',
	   CompanyStatus AS 'حالة الشركة', 
	   CompanyDate AS 'التاريخ', 
	   CompanyTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Companies WHERE CONVERT(Nvarchar,CompanyStatus) = @SearchKey;

END