USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_BranchEdit]    Script Date: 1/7/2021 4:20:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_BranchEdit]

@ID int,
@CustomID Nvarchar(50),
@BranName Nvarchar(100),
@BranPhoneN1 Nvarchar(25),
@BranPhoneN2 Nvarchar(25),
@BranFax Nvarchar(25),
@BranEmail Varchar(80),
@BranAddress Nvarchar(120),
@BranManager int,
@PcNameWhoAdded Nvarchar(50),
@BranWhoAdded int,
@Date Nvarchar(50),
@Time Nvarchar(50)

AS

INSERT INTO Branches 
			(BranchID, BranchCustomCode, BranchName, BranchPhoneN1, BranchPhoneN2, BranchFax, BranchEmail, BranchAddress,
			 BranchManager, PCNameWhoAdded, BranchWhoAdded, BranchStatus, BranchDate, BranchTime)

      VALUES (@ID, @CustomID, @BranName, @BranPhoneN1, @BranPhoneN2, @BranFax, @BranEmail, @BranAddress, @BranManager, @PcNameWhoAdded,
			  @BranWhoAdded, 1, @Date, @Time);