USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_BranchDeactivate]    Script Date: 11/7/2020 10:37:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_BranchDeactivate]

@ID int,
@Status bit,
@PCNameWhoDeleted Nvarchar(50),
@BranWhoDeleted int

AS

UPDATE Branches SET  BranchStatus = @Status,
					 PCNameWhoDeleted = @PCNameWhoDeleted,
					 BranchWhoDeleted = @BranWhoDeleted

					 WHERE BranchID = @ID; 