USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_BranchUpdate]    Script Date: 11/7/2020 10:42:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_BranchUpdate]

@ID int,
@BranName Nvarchar(100),
@BranPhoneN1 Nvarchar(25),
@BranPhoneN2 Nvarchar(25),
@BranFax Nvarchar(25),
@BranEmail Varchar(80),
@BranAddress Nvarchar(120),
@BranManager int,
@PCNameWhoModified Nvarchar(50),
@BranWhoModified int

AS

UPDATE Branches SET BranchName = @BranName,
					BranchPhoneN1 = @BranPhoneN1,
					BranchPhoneN2 = @BranPhoneN2,
					BranchFax = @BranFax,
					BranchEmail = @BranEmail,
					BranchAddress = @BranAddress,
					BranchManager = @BranManager,
					PCNameWhoModified = @PCNameWhoModified,
					BranchWhoModified = @BranWhoModified 
					WHERE BranchID = @ID;