USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_RegisterEdit]    Script Date: 1/7/2021 5:54:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_RegisterEdit]

@ID int,
@UserID int,
@PcNameWhoAdded Nvarchar(50),
@Date Nvarchar(50),
@Time Nvarchar(50)

AS

Insert INTO Register (RegisterID,RegisterUserID, PCNameWhoAdded, RegisterDate, RegisterTime)
			  Values (@ID, @UserID, @PcNameWhoAdded, @Date, @Time);