USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_POSSearch]    Script Date: 4/3/2021 8:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_POSSearch]

@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100)

AS

--Case 1 Search by @ColumnName is POSID
IF @ColumnName = 'POSID'

BEGIN

SELECT

	POSID AS 'الكود الداخلى',
	POSCustomCode AS 'كود نقطة البيع',
	POSName AS 'اسم نقطة البيع',
	POSBalance AS 'الرصيد الحالى',
	POSStatus AS 'حالة نقطة البيع',
	POSDate AS 'التاريخ',
	POSTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM POS WHERE POSID = Convert(int,@SearchKey);

END

--Case 2 Search by @ColumnName is POSCutomCode
IF @ColumnName = 'POSCutomCode'

BEGIN

SELECT

	POSID AS 'الكود الداخلى',
	POSCustomCode AS 'كود نقطة البيع',
	POSName AS 'اسم نقطة البيع',
	POSBalance AS 'الرصيد الحالى',
	POSStatus AS 'حالة نقطة البيع',
	POSDate AS 'التاريخ',
	POSTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM POS WHERE POSCustomCode = @SearchKey;

END

--Case 3 Search by @ColumnName is POSName
IF @ColumnName = 'POSName'

BEGIN

SELECT

	POSID AS 'الكود الداخلى',
	POSCustomCode AS 'كود نقطة البيع',
	POSName AS 'اسم نقطة البيع',
	POSBalance AS 'الرصيد الحالى',
	POSStatus AS 'حالة نقطة البيع',
	POSDate AS 'التاريخ',
	POSTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM POS WHERE POSName LIKE '%' +  @SearchKey + '%';

END

--Case 4 Search by @ColumnName is POSBalance
IF @ColumnName = 'POSBalance'

BEGIN

SELECT

	POSID AS 'الكود الداخلى',
	POSCustomCode AS 'كود نقطة البيع',
	POSName AS 'اسم نقطة البيع',
	POSBalance AS 'الرصيد الحالى',
	POSStatus AS 'حالة نقطة البيع',
	POSDate AS 'التاريخ',
	POSTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM POS WHERE POSBalance = CONVERT(decimal, @SearchKey);

END

--Case 5 Search by @ColumnName is POSStatus
IF @ColumnName = 'POSStatus'

BEGIN

SELECT

	POSID AS 'الكود الداخلى',
	POSCustomCode AS 'كود نقطة البيع',
	POSName AS 'اسم نقطة البيع',
	POSBalance AS 'الرصيد الحالى',
	POSStatus AS 'حالة نقطة البيع',
	POSDate AS 'التاريخ',
	POSTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM POS WHERE POSStatus = CONVERT(bit, @SearchKey);

END