USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UserSearch]    Script Date: 8/12/2021 2:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_UserSearch]

@SearchKey nvarchar(100)


AS

SELECT UserID AS 'كود الداخلى', 
       UserRule AS 'صلاحية المستخدم', 
	   UserCustomCode AS 'كود المستخدم', 
	   UserFullName AS 'الاسم بالكامل', 
	   UserPhone AS 'رقم الهاتف',  
	   UserJob AS 'الوظيفة',  
	   UserGender AS 'النوع', 
	   UserAddress AS 'العنوان',  
	   UserIdentificationNo AS 'الرقم القومى', 
	   UserForProgram AS 'نوع المستخدم',  
	   UserName AS 'اسم المستخدم',  
	   UserPassword AS 'الباسورد', 
	   UserDate AS 'التاريخ', 
	   UserTime AS 'الوقت',    
	   UserStatus  AS 'حالة المستخدم',
	   UserImage  AS 'صورة المستخدم'

	   FROM Users WHERE UserFullName + UserPhone + UserJob +  UserAddress + UserGender + 
						UserName + UserIdentificationNo + UserCustomCode + Convert(NvarChar,UserStatus) + Convert (NVarChar,UserForProgram)
						LIKE '%' + @SearchKey + '%'; 