USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UserEdit]    Script Date: 8/12/2021 2:51:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_UserEdit]

@ID int,
@Rule int,
@CustomeCode nvarchar(50),
@FullName nvarchar(100),
@Phone nvarchar(25),
@Job nvarchar(25),
@Gender nvarchar(5),
@Address nvarchar(120),
@Identification nvarchar(20),
@UserForPro bit,
@UserName nvarchar(50),
@Pass nvarchar(50),
@Date nvarchar(50),
@Time nvarchar(50),
--@Status bit, when add new user is activate or bit is true by default note true equal 1 (true = 1 and false = 0) 
--so when insert into replace colum is datatype is bit by one (true) or 0 (false)
@CheckImg nvarchar(15),
@Img Image,
@PCAdded nvarchar(50),
@UserAdded int


AS

IF (@CheckImg = 'WithImage')

Begin

INSERT INTO Users (UserID, UserRule, UserCustomCode,UserFullName, UserPhone, UserJob, UserGender, UserAddress, UserIdentificationNo,
				   UserForProgram, UserName, UserPassword, UserDate, UserTime, UserStatus, UserImage, PCNameWhoAdded, UserWhoAdded)
			
		  VALUES (@ID, @Rule, @CustomeCode,@FullName, @Phone, @Job, @Gender, @Address, @Identification, @UserForPro, @UserName,
		          @Pass, @Date, @Time, 1, @Img, @PCAdded, @UserAdded);

End

IF (@CheckImg = 'WithoutImage')

Begin

INSERT INTO Users (UserID, UserRule, UserCustomCode,UserFullName, UserPhone, UserJob, UserGender, UserAddress, UserIdentificationNo,
				   UserForProgram, UserName, UserPassword, UserDate, UserTime, UserStatus, PCNameWhoAdded, UserWhoAdded)
			
		  VALUES (@ID, @Rule, @CustomeCode,@FullName, @Phone, @Job, @Gender, @Address, @Identification, @UserForPro, @UserName,
		          @Pass, @Date, @Time, 1, @PCAdded, @UserAdded);

End