USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UserUpdate]    Script Date: 8/12/2021 2:52:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_UserUpdate]

@ID int,
@Rule int,
@FullName nvarchar(100),
@Phone nvarchar(25),
@Job nvarchar(25),
@Gender nvarchar(5),
@Address nvarchar(120),
@Identification nvarchar(20),
@UserForPro bit,
@UserName nvarchar(50),
@Pass nvarchar(50),
--@Status bit,
@CheckImg nvarchar(15),
@Img Image,
@PCModified nvarchar(50),
@UserModified int



AS


IF (@CheckImg = 'WithImage')

Begin

UPDATE Users SET 
				 UserRule = @Rule,
				 UserFullName  = @FullName,
				 UserPhone = @Phone,
				 UserJob = @Job,
				 UserGender = @Gender,
				 UserAddress = @Address,
				 UserIdentificationNo = @Identification,
				 UserForProgram = @UserForPro,
				 UserName = @UserName,
				 UserPassword = @Pass, 
				 UserImage = @Img,
				 PCNameWhoModified = @PCModified,
				 UserWhoModified = @UserModified   WHERE UserID = @ID;

End

IF (@CheckImg = 'WithOutImage')

Begin

UPDATE Users SET 
				 UserRule = @Rule,
				 UserFullName  = @FullName,
				 UserPhone = @Phone,
				 UserJob = @Job,
				 UserGender = @Gender,
				 UserAddress = @Address,
				 UserIdentificationNo = @Identification,
				 UserForProgram = @UserForPro,
				 UserName = @UserName,
				 UserPassword = @Pass,
				 UserImage = NULL,
				 PCNameWhoModified = @PCModified,
				 UserWhoModified = @UserModified  WHERE UserID = @ID;

End