USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ReSaleBillSearch]    Script Date: 7/24/2021 3:13:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ReSaleBillSearch] --SP_ReSaleSearch

@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100),
@CheckSearchDate bit,
@SearchDate1 Nvarchar(50),
@SearchDate2 Nvarchar(50)

AS

--Case 1 Search by @ColumnName is ReSaleCustomID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 and @ColumnName = 'ReSaleID'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [رقم فاتورة مرتجع البيع] = Convert(int, @SearchKey);

END


--Case 2 Search by @ColumnName is ReSaleCustomID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 and @ColumnName = 'ReSaleCustomID'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [كود فاتورة مرتجع البيع] = @SearchKey;

END

--Case 3 Search by @ColumnName is ReSaleDate And @CheckSearchDate = 1 (without SearchDate = False)
IF @CheckSearchDate = 1 AND @ColumnName = 'ReSaleDate'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [تاريخ فاتورة مرتجع البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END

--Case 4 Search by @ColumnName is CustomerFullName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'CustomerFullName'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [اسم العميل] =  @SearchKey;

END


--Case 5 Search by @ColumnName is CustomerFullName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'CustomerFullName'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [اسم العميل] =  @SearchKey AND [تاريخ فاتورة مرتجع البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 6 Search by @ColumnName is ItemBarcode1 And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'ItemBarcode1'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [باركود الاول للصنف] =  @SearchKey OR [الباركود الثانى للصنف] =  @SearchKey OR [الباركود الثالث] =  @SearchKey;

END


--Case 7 Search by @ColumnName is ItemBarcode1 And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'ItemBarcode1'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [باركود الاول للصنف] =  @SearchKey OR [الباركود الثانى للصنف] =  @SearchKey OR [الباركود الثالث] =  @SearchKey AND [تاريخ فاتورة مرتجع البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END

--Case 8 Search by @ColumnName is ItemName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'ItemName'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [اسم الصنف] LIKE '%' + @SearchKey + '%' OR [الصنف بالانجليزى] LIKE '%' + @SearchKey + '%';

END


--Case 9 Search by @ColumnName is ItemName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'ItemName'

BEGIN

--Note Sql Statment ColumnName LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN  @SearchDate1 AND @SearchDate2 OR ColumnName2 LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;
--SELECT * FROM ViewBuyBillShow  WHERE [الصنف بالانجليزى] LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2 OR [اسم الصنف] LIKE '%' + @SearchKey + '%'  AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;
SELECT * FROM ViewReSaleShow  WHERE [اسم الصنف] LIKE '%' + @SearchKey + '%'  AND [تاريخ فاتورة مرتجع البيع] BETWEEN @SearchDate1 AND @SearchDate2 OR [الصنف بالانجليزى] LIKE '%' + @SearchKey + '%' AND [تاريخ فاتورة مرتجع البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END

--Case 10 Search by @ColumnName is SaleBillID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 and @ColumnName = 'SaleBillID'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [رقم الفاتورة] = Convert(int,@SearchKey);

END

--Case 11 Search by @ColumnName is SaleBillCustomID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 and @ColumnName = 'SaleBillCustomID'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [كود الفاتورة] = @SearchKey;

END

--Case 12 Search by @ColumnName is SaleBillID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'SaleBillPayType'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [نوع الدفع] =  @SearchKey;

END

--Case 13 Search by @ColumnName is SaleBillID @SearchKey = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'SaleBillPayType'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [نوع الدفع] =  @SearchKey AND [تاريخ فاتورة مرتجع البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END



--Case 14 Search by @ColumnName is StoreName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'StoreName'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [اسم المخزن] =  @SearchKey;

END


--Case 15 Search by @ColumnName is StoreName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'StoreName'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [اسم المخزن] =  @SearchKey AND [تاريخ فاتورة مرتجع البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END



--Case 16 Search by @ColumnName is BranchName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'BranchName'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [اسم الفرع] =  @SearchKey;

END


--Case 17 Search by @ColumnName is BranchName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'BranchName'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [اسم الفرع] =  @SearchKey AND [تاريخ فاتورة مرتجع البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END

--Case 18 Search by @ColumnName is CompanyName And @CheckSearchDate = 0 (without SearchDate = False) -- + 'N' + to search in arabic language
IF @CheckSearchDate = 0 AND @ColumnName = 'CompanyName'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [الشركة المنتجة] LIKE '%' + @SearchKey + '%';

END


--Case 19 Search by @ColumnName is CompanyName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'CompanyName'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [الشركة المنتجة] LIKE '%' + @SearchKey + '%'AND [تاريخ فاتورة مرتجع البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END

--Case 20 Search by @ColumnName is GroupName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'GroupName'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [المجموعة العلمية] LIKE '%' + @SearchKey + '%';

END


--Case 21 Search by @ColumnName is GroupName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'GroupName'

BEGIN

SELECT * FROM ViewReSaleShow WHERE [المجموعة العلمية] LIKE '%' + @SearchKey + '%' AND [تاريخ فاتورة مرتجع البيع] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 22 Search by @ColumnName is SaleDetailID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'SaleDetailID'

BEGIN

SELECT * FROM ViewReSaleShow WHERE SaleDetailID = Convert(int, @SearchKey);

END
