USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CustomerSearch]    Script Date: 7/20/2021 10:38:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CustomerSearch]

/* Stored Procedure Parameters Name 
   @ColName Nvarchar(25),
   @SearchKey NvarChar(100)	
*/
@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100)


AS

--Case 1 Search by @ColumnName is CustCustomCode
IF @ColumnName = 'CustCustomCode'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CustCustomCode = @SearchKey;

END

--Case 2 Search by @ColumnName is CustomerFullName
ELSE IF @ColumnName = 'CustomerFullName'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CustomerFullName LIKE '%' + @SearchKey + '%';

END

--Case 3 Search by @ColumnName is CustomerPhoneN2
ELSE IF @ColumnName = 'CustomerPhone'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CustomerPhoneN1 = @SearchKey OR  CustomerPhoneN2 = @SearchKey;

END

--Case 4 Search by @ColumnName is CustomerFax
ELSE IF @ColumnName = 'CustomerFax'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CustomerFax LIKE '%' + @SearchKey + '%';

END

--Case 5 Search by @ColumnName is CustomerAddress
ELSE IF @ColumnName = 'CustomerAddress'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CustomerAddress LIKE '%' + @SearchKey + '%';

END


--Case 6 Search by @ColumnName is CustomerEmail
ELSE IF @ColumnName = 'CustomerEmail'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CONVERT (Nvarchar, CustomerEmail) LIKE '%' + @SearchKey + '%';

END

--Case 7 Search by @ColumnName is CustomerType
ELSE IF @ColumnName = 'CustomerType'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CustomerType = @SearchKey;

END

--Case 8 Search by @ColumnName is CustomerCompanyName
ELSE IF @ColumnName = 'CustomerCompanyName'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CustomerCompanyName LIKE '%'+ @SearchKey +'%';

END

--Case 9 Search by @ColumnName is CustomerDiscount
ELSE IF @ColumnName = 'CustomerDiscount'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CustomerDiscount = @SearchKey;

END

--Case 10 Search by @ColumnName is CustomerDebitSatus
ELSE IF @ColumnName = 'CustomerDebitSatus'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CONVERT(Nvarchar,CustomerDebitSatus) = @SearchKey;

END


--Case 11 Search by @ColumnName is CustomerStatus
ELSE IF @ColumnName = 'CustomerStatus'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CONVERT(Nvarchar,CustomerStatus) = @SearchKey;

END

--Case 12 Search by @ColumnName is CustomerStatus
ELSE IF @ColumnName = 'CustomerBalance'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CONVERT(Nvarchar,CustomerBalance) = @SearchKey;

END

--Case 13 Search by @ColumnName is CustomerID
ELSE IF @ColumnName = 'CustomerID'

BEGIN

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM Customers WHERE CustomerID = CONVERT(int, @SearchKey);

END