USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CustomerBalanceUpdate]    Script Date: 6/14/2021 9:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CustomerBalanceUpdate]

@CustID int,
@Balance decimal(18,3),
@PCNameWhoModified Nvarchar(50),
@CustWhoModified int

AS

UPDATE Customers SET CustomerBalance = @Balance,
					 PCNameWhoModified = @PCNameWhoModified,
					 CustomerWhoModified = @CustWhoModified
					 WHERE CustomerID = @CustID;