USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CustomerDeactivate]    Script Date: 10/23/2020 2:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CustomerDeactivate]

@CustID int,
@CustStatus bit,
@PCNameWhoDeleted Nvarchar(50),
@CustomerWhoDeleted int

AS

/* DELETE Customer By Modify Status to False */
UPDATE Customers SET CustomerStatus = @CustStatus,
					PCNameWhoDeleted = @PCNameWhoDeleted,
					CustomerWhoDeleted = @CustomerWhoDeleted 
					WHERE CustomerID = @CustID;