USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CustomerEdit]    Script Date: 6/8/2021 10:54:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CustomerEdit] --CREATE PROC StoredProcedureName SP_Name

--@StoredProcedureParameterName

@ID int,
@CustCode Nvarchar(50),
@CustName Nvarchar(100),
@CustPhone1 Nvarchar(25),
@CustPhone2 Nvarchar(25),
@CustFax Nvarchar(25),
@CustAddress Nvarchar(100),
@CustEmail varchar(80),
@CustType Nvarchar(25),
@CustCompany Nvarchar(75),
@CustLimit Decimal(18, 3),
@CustDiscount Nvarchar(15),
@CustBalance Decimal(18, 3),
@CustDebStatus bit,
@CustNotes  Nvarchar(75),
@PCNameWhoAdded Nvarchar (50),
@CustomerWhoAdded int,
@CustDate Nvarchar(50),
@CustTime Nvarchar(50)

AS -- Keyword

/* Insert into SQL Statement note sql server convert True to 1 and False to 0 in bit column (all customer added is true status (1))*/

INSERT INTO Customers (CustomerID, CustCustomCode, CustomerFullName, CustomerPhoneN1, CustomerPhoneN2, CustomerFax, CustomerAddress, 
						CustomerEmail, CustomerType, CustomerCompanyName, CustomerCreditLimit, CustomerDiscount, CustomerBalance, CustomerDebitSatus,
						CustomerNotes, PCNameWhoAdded, CustomerWhoAdded, CustomerStatus, CustomerDate, CustomerTime)

				Values (@ID, @CustCode, @CustName, @CustPhone1, @CustPhone2, @CustFax, @CustAddress, @CustEmail, @CustType, @CustCompany, @CustLimit,
						@CustDiscount,@CustBalance, @CustDebStatus, @CustNotes, @PCNameWhoAdded, @CustomerWhoAdded, 1, @CustDate, @CustTime); 