USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CustomerShow]    Script Date: 6/8/2021 11:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CustomerShow]

AS

SELECT CustomerID AS 'الكود الداخلى',
	   CustCustomCode AS 'كود العميل',
	   CustomerFullName AS 'اسم العميل', 
	   CustomerPhoneN1 AS 'رقم الهاتف الاول',
	   CustomerPhoneN2 AS 'رقم الهاتف الثانى',
	   CustomerFax AS 'رقم الفاكس',
	   CustomerAddress AS 'العنوان',
	   CustomerEmail AS 'البريد اليكترونى',
	   CustomerType AS 'نوع العميل',
	   CustomerCompanyName AS 'الشركة التابع لها',
	   CustomerCreditLimit AS 'حد المسحوبات',
	   CustomerDiscount AS 'نسبة الخصم',
	   CustomerBalance AS 'رصيد العميل',
	   CustomerDebitSatus AS 'حالة المبيعات الآجلة',
	   CustomerNotes AS 'ملاحظات',
	   CustomerStatus AS 'حالة العميل',
	   CustomerDate AS 'التاريخ',
	   CustomerTime AS 'الوقت'
FROM Customers;