USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CustomerUpdate]    Script Date: 10/24/2020 7:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CustomerUpdate]

@CustID int,
@CustName Nvarchar(100),
@CustPhone1 Nvarchar(25),
@CustPhone2 Nvarchar(25),
@CustFax Nvarchar(25),
@CustAddress Nvarchar(100),
@CustEmail varchar(80),
@CustType Nvarchar(25),
@CustCompany Nvarchar(75),
@CustLimit Decimal(18, 3),
@CustDiscount Nvarchar(15),
@CustDebStatus bit,
@CustNotes  Nvarchar(75),
@PCNameWhoModified Nvarchar (50),
@CustomerWhoModified int



AS

UPDATE Customers SET CustomerFullName = @CustName,
					 CustomerPhoneN1 = @CustPhone1,
					 CustomerPhoneN2 = @CustPhone2,
					 CustomerFax = @CustFax,
					 CustomerAddress= @CustAddress,
					 CustomerEmail = @CustEmail,
					 CustomerType = @CustType,
					 CustomerCompanyName = @CustCompany,
					 CustomerCreditLimit = @CustLimit,
					 CustomerDiscount = @CustDiscount,
					 CustomerDebitSatus = @CustDebStatus,
					 CustomerNotes = @CustNotes,
					 PCNameWhoModified = @PCNameWhoModified,
					 CustomerWhoModified = @CustomerWhoModified

					 WHERE CustomerID = @CustID;