USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ItemEdit]    Script Date: 1/6/2021 7:56:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ItemEdit]

@ID int,
@ItemCustomCode Nvarchar(50),
@ItemName Nvarchar(150),
@ItemEngName Nvarchar(150),
@ItemBarcode1 Nvarchar(100),
@ItemBarcode2 Nvarchar(100),
@ItemBarcode3 Nvarchar(100),
@ItemManuDate  Nvarchar(50),
@ItemExpDate  Nvarchar(50),
@ItemDosage int,
@ItemGeneric int,
@ItemClass int,
@ItemGroup int,
@ItemCompany int,
@ItemPlace int,
-- Large Units
@ItemLUnit int,
@ItemLUnitNo int,
@ItemLUnitSalePRC Decimal(18,3),
@ItemLUnitBuyPRC Decimal(18,3),
@ItemLUnitQTY Decimal(18,3),
-- Medium Units
@ItemMUnit int,
@ItemMUnitNo int,
@ItemMUnitSalePRC Decimal(18,3),
@ItemMUnitBuyPRC Decimal(18,3),
@ItemMUnitQTY Decimal(18,3),
-- Small Unit
@ItemSUnit int,
@ItemSUnitNo int,
@ItemSUnitSalePRC Decimal(18,3),
@ItemSUnitBuyPRC Decimal(18,3),
@ItemSUnitQTY Decimal(18,3),
--Remains Columns
@ItemDemandedLimit Decimal(18,3),
@ItemMaxDiscound Decimal(18,3),
@ItemMedicine bit,
@ItemAccessories bit,
@ItemLocal bit,
@ItemImport bit,
@ItemExpiry bit,
@ItemDrug bit,
@ItemRefragated bit,
@ItemUncommon bit,
@PcNameAdded Nvarchar(50),
@ItemWhoAdded int,
@ItemStatus bit,
@Date Nvarchar(50),
@Time Nvarchar(50)

AS

INSERT INTO Items  (ItemID,ItemCustomCode,ItemName,ItemEnglishName,ItemBarcode1,ItemBarcode2,ItemBarcode3,ItemManufactureDate,ItemExpiryDate,
					ItemDosageForm,ItemGeneric,ItemClassOfAction,ItemGroup,ItemCompany,ItemPlace,
					ItemLargeUnit,ItemLargeUnitNo,ItemLargeUnitSalePrice,ItemLargeUnitBuyPrice,ItemLargeUnitQuantity,
					ItemMediumUnit,ItemMediumUnitNo,ItemMediumUnitSalePrice,ItemMediumUnitBuyPrice,ItemMediumUnitQuantity,
					ItemSmallUnit,ItemSmallUnitNo,ItemSmallUnitSalePrice,ItemSmallUnitBuyPrice,ItemSmallUnitQuantity,
					ItemDemandedLimit,ItemMaxDiscound,
					ItemMedicine,ItemAccessories,ItemLocal,ItemImported,ItemExpiry,ItemDrug,ItemRefragated,ItemUncommon,
					PCNameWhoAdded,ItemWhoAdded,ItemStatus,ItemDate,ItemTime)

			VALUES (@ID,@ItemCustomCode,@ItemName,@ItemEngName,@ItemBarcode1,@ItemBarcode2,@ItemBarcode3,@ItemManuDate,@ItemExpDate,
					@ItemDosage,@ItemGeneric,@ItemClass,@ItemGroup,@ItemCompany,@ItemPlace,
					@ItemLUnit,@ItemLUnitNo,@ItemLUnitSalePRC,@ItemLUnitBuyPRC,@ItemLUnitQTY,
					@ItemMUnit,@ItemMUnitNo,@ItemMUnitSalePRC,@ItemMUnitBuyPRC,@ItemMUnitQTY,
					@ItemSUnit,@ItemSUnitNo,@ItemSUnitSalePRC,@ItemSUnitBuyPRC,@ItemSUnitQTY,
					@ItemDemandedLimit,@ItemMaxDiscound,
					@ItemMedicine,@ItemAccessories,@ItemLocal,@ItemImport,@ItemExpiry,@ItemDrug,@ItemRefragated,@ItemUncommon,
					@PcNameAdded ,@ItemWhoAdded,@ItemStatus,@Date,@Time);