USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ItemShow]    Script Date: 1/3/2021 10:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ItemShow]

AS

DECLARE @Large_UnitName NVarChar(100),@Medium_UnitName NVarChar(100),@Small_UnitName NVarChar(100);



SELECT @Large_UnitName = ItemUnits.UnitName FROM ItemUnits 

INNER JOIN Items ON Items.ItemLargeUnit = ItemUnits.UnitID 

WHERE Items.ItemLargeUnit = ItemUnits.UnitID


SELECT @Medium_UnitName = ItemUnits.UnitName FROM ItemUnits 

INNER JOIN Items ON Items.ItemLargeUnit = ItemUnits.UnitID 

WHERE Items.ItemMediumUnit = ItemUnits.UnitID


SELECT  @Small_UnitName = ItemUnits.UnitName FROM ItemUnits 

INNER JOIN Items ON Items.ItemLargeUnit = ItemUnits.UnitID 

WHERE Items.ItemSmallUnit = ItemUnits.UnitID


SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		@Large_UnitName  AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		@Medium_UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		@Small_UnitName  AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID;
