USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ItemSearch]    Script Date: 1/30/2021 1:27:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ItemSearch]

@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100)

AS

--Case 1 Search by @ColumnName is ItemID
IF @ColumnName = 'ItemID'

BEGIN

SELECT * FROM ViewItemShow
WHERE [كود الداخلى] = CONVERT(int,@SearchKey);

END

--Case 2 Search by @ColumnName is ItemCustomCode
IF @ColumnName = 'ItemCustomCode'

BEGIN

SELECT * FROM ViewItemShow
WHERE [كود الصنف] = @SearchKey;

END

--Case 3 Search by @ColumnName is ItemName
IF @ColumnName = 'ItemName'

BEGIN

SELECT * FROM ViewItemShow
WHERE [اسم الصنف] LIKE '%' + @SearchKey + '%';

END

--Case 4 Search by @ColumnName is ItemEnglishName
IF @ColumnName = 'ItemEnglishName'

BEGIN

SELECT * FROM ViewItemShow
		
WHERE [الاسم الانجليزى] LIKE '%' + @SearchKey + '%';

END

--Case 5 Search by @ColumnName is ItemName OR ItemEnglishName
IF @ColumnName = 'ItemName&EnglishName'

BEGIN

SELECT * FROM ViewItemShow
WHERE [اسم الصنف] LIKE '%' + @SearchKey + '%' OR  [الاسم الانجليزى] LIKE '%' + @SearchKey + '%';

END



--Case 6 Search by @ColumnName is ItemBarcode1 OR ItemBarcode2 OR ItemBarcode3
IF @ColumnName = 'ItemBarcode1'

BEGIN

SELECT * FROM ViewItemShow
		
WHERE [الباركود الأول] = @SearchKey OR [الباركود الثانى] = @SearchKey OR [الباركود الثالث] = @SearchKey;

END

--Case 7 Search by @ColumnName is ItemManufactureDate
IF @ColumnName = 'ItemManufactureDate'

BEGIN

SELECT  * FROM ViewItemShow

WHERE [تاريخ الأنتاج] = @SearchKey;

END

--Case 8 Search by @ColumnName is ItemExpiryDate
IF @ColumnName = 'ItemExpiryDate'

BEGIN

SELECT * FROM ViewItemShow
		
WHERE [تاريخ الصلاحية] = @SearchKey;

END


--Case 9 Search by @ColumnName is DosageFormName
IF @ColumnName = 'DosageFormName'

BEGIN

SELECT * FROM ViewItemShow

WHERE [الشكل الدوائى] = @SearchKey;

END


--Case 10 Search by @ColumnName is GenericName
IF @ColumnName = 'GenericName'

BEGIN

SELECT * FROM ViewItemShow

WHERE [المادة الفعالة] = @SearchKey;

END

--Case 11 Search by @ColumnName is ClassOfActionName
IF @ColumnName = 'ClassOfActionName'

BEGIN

SELECT * FROM ViewItemShow
		

WHERE [القسم الطبى] = @SearchKey;

END


--Case 12 Search by @ColumnName is GroupName
IF @ColumnName = 'GroupName'

BEGIN

SELECT * FROM ViewItemShow
		
WHERE [المجموعة العلمية] = @SearchKey;

END

--Case 13 Search by @ColumnName is CompanyName
IF @ColumnName = 'CompanyName'

BEGIN

SELECT * FROM ViewItemShow

WHERE [الشركة المنتجة] = @SearchKey;

END

--Case 14 Search by @ColumnName is PlaceName
IF @ColumnName = 'PlaceName'

BEGIN

SELECT * FROM ViewItemShow

WHERE [مكان التخزين] = @SearchKey;

END

--Case 15 Search by @ColumnName is ItemStatus
IF @ColumnName = 'ItemStatus'

BEGIN

SELECT  * FROM ViewItemShow
	
WHERE [حالة الصنف] = CONVERT(bit, @SearchKey);

END

