USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ItemUpdate]    Script Date: 2/16/2021 8:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ItemUpdate]

@ID int,
@ItemName Nvarchar(150),
@ItemEngName Nvarchar(150),
@ItemBarcode1 Nvarchar(100),
@ItemBarcode2 Nvarchar(100),
@ItemBarcode3 Nvarchar(100),
@ItemManuDate  Nvarchar(50),
@ItemExpDate  Nvarchar(50),
@ItemDosage int,
@ItemGeneric int,
@ItemClass int,
@ItemGroup int,
@ItemCompany int,
@ItemPlace int,
-- Large Units
@ItemLUnit int,
@ItemLUnitNo int,
@ItemLUnitSalePRC Decimal(18,3),
@ItemLUnitBuyPRC Decimal(18,3),
@ItemLUnitQTY Decimal(18,3),
-- Medium Units
@ItemMUnit int,
@ItemMUnitNo int,
@ItemMUnitSalePRC Decimal(18,3),
@ItemMUnitBuyPRC Decimal(18,3),
@ItemMUnitQTY Decimal(18,3),
-- Small Unit
@ItemSUnit int,
@ItemSUnitNo int,
@ItemSUnitSalePRC Decimal(18,3),
@ItemSUnitBuyPRC Decimal(18,3),
@ItemSUnitQTY Decimal(18,3),
--Remains Columns
@ItemDemandedLimit Decimal(18,3),
@ItemMaxDiscound Decimal(18,3),
@ItemMedicine bit,
@ItemAccessories bit,
@ItemLocal bit,
@ItemImport bit,
@ItemExpiry bit,
@ItemDrug bit,
@ItemRefragated bit,
@ItemUncommon bit,
@PcNameModified Nvarchar(50),
@ItemWhoModified int

AS

UPDATE Items SET	ItemName =@ItemName, ItemEnglishName =@ItemEngName, ItemBarcode1 =@ItemBarcode1, ItemBarcode2 =@ItemBarcode2, ItemBarcode3 =@ItemBarcode3, ItemManufactureDate =@ItemManuDate, ItemExpiryDate =@ItemExpDate,
					ItemDosageForm =@ItemDosage, ItemGeneric =@ItemGeneric, ItemClassOfAction = @ItemClass, ItemGroup =@ItemGroup, ItemCompany =@ItemCompany, ItemPlace =@ItemPlace,
					
					ItemLargeUnit =@ItemLUnit, ItemLargeUnitNo =@ItemLUnitNo, ItemLargeUnitSalePrice =@ItemLUnitSalePRC, ItemLargeUnitBuyPrice =@ItemLUnitBuyPRC, ItemLargeUnitQuantity =@ItemLUnitQTY,
					ItemMediumUnit =@ItemMUnit, ItemMediumUnitNo =@ItemMUnitNo, ItemMediumUnitSalePrice =@ItemMUnitSalePRC, ItemMediumUnitBuyPrice =@ItemMUnitBuyPRC, ItemMediumUnitQuantity =@ItemMUnitQTY,
					ItemSmallUnit =@ItemSUnit, ItemSmallUnitNo =@ItemSUnitNo, ItemSmallUnitSalePrice =@ItemSUnitSalePRC, ItemSmallUnitBuyPrice =@ItemSUnitBuyPRC, ItemSmallUnitQuantity =@ItemSUnitQTY,
					ItemDemandedLimit =@ItemDemandedLimit, ItemMaxDiscound = @ItemMaxDiscound,

					ItemMedicine =@ItemMedicine, ItemAccessories =@ItemAccessories, ItemLocal =@ItemLocal, ItemImported =@ItemImport, ItemExpiry =@ItemExpiry, ItemDrug =@ItemDrug, ItemRefragated =@ItemRefragated, ItemUncommon =@ItemUncommon,
					PCNameWhoModified = @PcNameModified, ItemWhoModified =@ItemWhoModified

					WHERE ItemID = @ID;
