USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ItemSearch]    Script Date: 1/2/2021 6:02:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ItemSearch]

@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100)

AS

--Case 1 Search by @ColumnName is ItemCustomCode
IF @ColumnName = 'ItemCustomCode'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE ItemCustomCode = @SearchKey;

END

--Case 2 Search by @ColumnName is ItemName
IF @ColumnName = 'ItemName'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE ItemName LIKE '%' + @SearchKey + '%';

END

--Case 3 Search by @ColumnName is ItemEnglishName
IF @ColumnName = 'ItemEnglishName'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE ItemEnglishName LIKE '%' + @SearchKey + '%';

END

--Case 4 Search by @ColumnName is ItemBarcode1 OR ItemBarcode2 OR ItemBarcode3
IF @ColumnName = 'ItemBarcode1'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE ItemBarcode1 LIKE '%' + @SearchKey + '%' OR ItemBarcode2 LIKE '%' + @SearchKey + '%' OR ItemBarcode3 LIKE '%' + @SearchKey + '%';

END

--Case 5 Search by @ColumnName is ItemManufactureDate
IF @ColumnName = 'ItemManufactureDate'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE ItemManufactureDate = @SearchKey;

END

--Case 6 Search by @ColumnName is ItemExpiryDate
IF @ColumnName = 'ItemExpiryDate'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE ItemExpiryDate = @SearchKey;

END


--Case 6 Search by @ColumnName is DosageFormName
IF @ColumnName = 'DosageFormName'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE DosageFormName = @SearchKey;

END


--Case 7 Search by @ColumnName is GenericName
IF @ColumnName = 'GenericName'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE GenericName = @SearchKey;

END

--Case 8 Search by @ColumnName is ClassOfActionName
IF @ColumnName = 'ClassOfActionName'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE ClassOfActionName = @SearchKey;

END


--Case 8 Search by @ColumnName is GroupName
IF @ColumnName = 'GroupName'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE GroupName = @SearchKey;

END

--Case 8 Search by @ColumnName is CompanyName
IF @ColumnName = 'CompanyName'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE CompanyName = @SearchKey;

END

--Case 8 Search by @ColumnName is PlaceName
IF @ColumnName = 'PlaceName'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE PlaceName = @SearchKey;

END

--Case 8 Search by @ColumnName is ItemStatus
IF @ColumnName = 'ItemStatus'

BEGIN

SELECT
		ItemCustomCode AS 'كود الصنف',
		ItemName AS 'اسم الصنف',
		ItemEnglishName AS 'الاسم بالانجليزى',
		ItemBarcode1 AS 'الباركود الاول',
		ItemBarcode2 AS 'الباركود الثانى',
		ItemBarcode3 AS 'الباركود الثالث',
		ItemManufactureDate AS 'تاريخ الانتاج',
		ItemExpiryDate AS 'تاريخ الصلاحية',
		ItemDosageForm.DosageFormName AS 'الشكل الدوائى',
		ItemGenerics.GenericName AS 'المادة الفعالة',
		ItemClassOfActions.ClassOfActionName AS 'القسم الطبى',
		ItemGroups.GroupName AS 'المجموعة العلمية',
		ItemCompanies.CompanyName AS 'الشركة المنتجة',
		ItemPlaces.PlaceName AS 'مكان التخزين',
		ItemUnits.UnitName AS 'الوحدة الكبرى',
		ItemLargeUnitNo AS 'معامل تحويل الكبرى',
		ItemLargeUnitSalePrice AS 'سعر بيع الكبرى',
		ItemLargeUnitBuyPrice AS 'سعر شراء الكبرى',
		ItemLargeUnitQuantity AS 'رصيد الوحدات الكبرى',
		ItemUnits.UnitName AS 'الوحدة المتوسطة',
		ItemMediumUnitNo AS 'معامل تحويل الوسطى',
		ItemMediumUnitSalePrice  AS 'سعر بيع الوسطى',
		ItemMediumUnitBuyPrice AS 'سعر شراء الوسطى',
		ItemMediumUnitQuantity AS 'رصيد الوحدات الوسطى',
		ItemUnits.UnitName AS 'الوحدة الصغرى',
		ItemSmallUnitNo AS 'معامل تحويل الصغرى', 
		ItemSmallUnitSalePrice AS 'سعر بيع الصغرى',
		ItemSmallUnitBuyPrice AS 'سعر شراء الصغرى',
		ItemSmallUnitQuantity AS 'رصيد الوحدات الصغرى',
		ItemDemandedLimit AS 'حد الطلب',
		ItemMaxDiscound AS 'اقصى خصم للصنف',
		ItemMedicine AS 'دواء',
		ItemAccessories AS 'أكسسوار',
		ItemLocal AS 'صنف محلى',
		ItemImported AS 'صنف مستورد',
		ItemExpiry AS 'صنف له تاريخ الصلاحية',
		ItemDrug AS 'صنف مخدر',
		ItemRefragated AS 'صنف ثلاجة',
		ItemUncommon AS 'صنف جدول',
		ItemStatus AS 'حالة الصنف',
		ItemDate AS 'التاريخ',
		ItemTime AS 'الوقت'

FROM Items

INNER JOIN ItemDosageForm ON Items.ItemDosageForm = ItemDosageForm.DosageFormID

INNER JOIN ItemGenerics ON Items.ItemGeneric = ItemGenerics.GenericID

INNER JOIN ItemClassOfActions ON Items.ItemClassOfAction = ItemClassOfActions.ClassOfActionID

INNER JOIN ItemGroups ON Items.ItemGroup = ItemGroups.GroupID

INNER JOIN ItemCompanies ON Items.ItemCompany = ItemCompanies.CompanyID

INNER JOIN ItemPlaces ON Items.ItemPlace = ItemPlaces.PlaceID

INNER JOIN ItemUnits ON Items.ItemLargeUnit = ItemUnits.UnitID OR Items.ItemMediumUnit = ItemUnits.UnitID OR Items.ItemSmallUnit = ItemUnits.UnitID

WHERE ItemStatus = @SearchKey;

END