USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ItemShow]    Script Date: 1/5/2021 6:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ItemShow]

AS

SELECT        dbo.Items.ItemID AS [كود الداخلى], dbo.Items.ItemCustomCode AS [كود الصنف], dbo.Items.ItemName AS [اسم الصنف], dbo.Items.ItemEnglishName AS [الاسم الانجليزى], dbo.Items.ItemBarcode1 AS [الباركود الأول], 
                         dbo.Items.ItemBarcode2 AS [الباركود الثانى], dbo.Items.ItemBarcode3 AS [الباركود الثالث], dbo.Items.ItemManufactureDate AS [تاريخ الأنتاج], dbo.Items.ItemExpiryDate AS [تاريخ الصلاحية], dbo.ItemDosageForm.DosageFormID, 
                         dbo.ItemDosageForm.DosageFormName AS [الشكل الدوائى], dbo.ItemGenerics.GenericID, dbo.ItemGenerics.GenericName AS [المادة الفعالة], dbo.ItemGroups.GroupID, dbo.ItemGroups.GroupName AS [المجموعة العلمية], 
                         dbo.ItemClassOfActions.ClassOfActionID, dbo.ItemClassOfActions.ClassOfActionName AS [القسم الطبى], dbo.ItemCompanies.CompanyID, dbo.ItemCompanies.CompanyName AS [الشركة المنتجة], dbo.ItemPlaces.PlaceID, 
                         dbo.ItemPlaces.PlaceName AS [مكان التخزين], dbo.Items.ItemLargeUnit, dbo.ItemUnits.UnitName AS [الوحدة الكبرى], dbo.Items.ItemLargeUnitNo AS [معامل تحويل الكبرى], dbo.Items.ItemLargeUnitSalePrice AS [سعر بيع الكبرى], 
                         dbo.Items.ItemLargeUnitBuyPrice AS [سعر شراء الكبرى], dbo.Items.ItemLargeUnitQuantity AS [رصيد الوحدات الكبرى], dbo.Items.ItemMediumUnit, ItemUnits_1.UnitName AS [الوحد الوسطى], 
                         dbo.Items.ItemMediumUnitNo AS [معامل تحويل الوسطى], dbo.Items.ItemMediumUnitSalePrice AS [سعر بيع الوسطى], dbo.Items.ItemMediumUnitBuyPrice AS [سعر شراء الوسطى], 
                         dbo.Items.ItemMediumUnitQuantity AS [رصيد الوحدات الوسطى], dbo.Items.ItemSmallUnit, ItemUnits_2.UnitName AS [الوحدى الصغرى], dbo.Items.ItemSmallUnitNo AS [معامل تحويل الصغرى], 
                         dbo.Items.ItemSmallUnitSalePrice AS [سعر بيع الصغرى], dbo.Items.ItemSmallUnitBuyPrice AS [سعر شراء الصغرى], dbo.Items.ItemSmallUnitQuantity AS [رصيد الوحدات الصغرى], dbo.Items.ItemDemandedLimit AS [حد الطلب من الكبرى], 
                         dbo.Items.ItemMaxDiscound AS [% اقصى خصم للصنف], dbo.Items.ItemMedicine AS دواء, dbo.Items.ItemAccessories AS اكسسوار, dbo.Items.ItemLocal AS محلى, dbo.Items.ItemImported AS مستورد, 
                         dbo.Items.ItemExpiry AS [له تاريخ صلاحية], dbo.Items.ItemDrug AS مخدر, dbo.Items.ItemRefragated AS ثلاجة, dbo.Items.ItemUncommon AS [نواقص عامة], dbo.Items.ItemStatus AS [حالة الصنف], dbo.Items.ItemDate AS التاريخ, 
                         dbo.Items.ItemTime AS الوقت
FROM					
						 dbo.ItemCompanies INNER JOIN
                         dbo.ItemClassOfActions INNER JOIN
                         dbo.Items INNER JOIN
                         dbo.ItemPlaces ON dbo.Items.ItemPlace = dbo.ItemPlaces.PlaceID INNER JOIN
                         dbo.ItemGroups ON dbo.Items.ItemGroup = dbo.ItemGroups.GroupID INNER JOIN
                         dbo.ItemDosageForm ON dbo.Items.ItemDosageForm = dbo.ItemDosageForm.DosageFormID INNER JOIN
                         dbo.ItemGenerics ON dbo.Items.ItemGeneric = dbo.ItemGenerics.GenericID ON dbo.ItemClassOfActions.ClassOfActionID = dbo.Items.ItemClassOfAction ON dbo.ItemCompanies.CompanyID = dbo.Items.ItemCompany INNER JOIN
                         dbo.ItemUnits AS ItemUnits_1 ON dbo.Items.ItemMediumUnit = ItemUnits_1.UnitID INNER JOIN
                         dbo.ItemUnits ON dbo.Items.ItemLargeUnit = dbo.ItemUnits.UnitID INNER JOIN
                         dbo.ItemUnits AS ItemUnits_2 ON dbo.Items.ItemSmallUnit = ItemUnits_2.UnitID;