USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_StoreShow]    Script Date: 11/5/2020 8:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_StoreShow]

AS


SELECT  StoreID AS 'الكود الداخلى',
		StoreCustomCode AS 'كود المخزن',
		StoreName AS 'اسم المخزن',
		StorePhone AS 'رقم الهاتف',
		StoreAddress AS 'عنوان المخزن',
		StoreType AS 'نوع المخزن',
		StorePassword AS 'كلمة السر',
		StoreManager AS 'مدير المخزن',
		StoreBranch AS 'الفرع التابع له',
		StoreCapacity AS 'مساحة المخزن',
		StoreStatus AS 'حالة المخزن', 
		StoreDate AS 'تاريخ',  
		StoreTime AS 'الوقت'

FROM STORES;