USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_StoreUpdate]    Script Date: 11/5/2020 8:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_StoreUpdate]

@ID int,
@Name nvarchar(100),
@Phone nvarchar(25),
@Address nvarchar(120),
@Type nvarchar(50),
@Password nvarchar(50),
@Manager int,
@Branch int,
@Capacity int,
@PCNameWhoModified nvarchar(50),
@StoreWhoModified int

AS

UPDATE STORES SET StoreName = @Name,
				  StorePhone = @Phone,
				  StoreAddress = @Address,
				  StoreType = @Type,
				  StorePassword = @Password,
				  StoreManager = @Manager,
				  StoreBranch = @Branch,
				  StoreCapacity = @Capacity,
				  PCNameWhoModified = @PCNameWhoModified,
				  StoreWhoModified = @StoreWhoModified

				  WHERE StoreID = @ID;