USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_StoreSearch]    Script Date: 1/16/2021 3:40:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_StoreSearch]

/* Stored Procedure Parameters Name 
   @ColName Nvarchar(25),
   @SearchKey NvarChar(100)	
*/
@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100)


AS

--Case 1 Search by @ColumnName is StoreCustomCode
IF @ColumnName = 'StoreCustomCode'

BEGIN

SELECT  StoreID AS 'الكود الداخلى',
		StoreCustomCode AS 'كود المخزن',
		StoreName AS 'اسم المخزن',
		StorePhone AS 'رقم الهاتف',
		StoreAddress AS 'عنوان المخزن',
		StoreType AS 'نوع المخزن',
		StorePassword AS 'كلمة السر',
		StoreManager AS 'مدير المخزن',
		StoreBranch AS 'الفرع التابع له',
		StoreCapacity AS 'مساحة المخزن',
		StoreStatus AS 'حالة المخزن', 
		StoreDate AS 'تاريخ',  
		StoreTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM STORES WHERE StoreCustomCode = @SearchKey;

END

--Case 2 Search by @ColumnName is StoreName
ELSE IF @ColumnName = 'StoreName'

BEGIN

SELECT  StoreID AS 'الكود الداخلى',
		StoreCustomCode AS 'كود المخزن',
		StoreName AS 'اسم المخزن',
		StorePhone AS 'رقم الهاتف',
		StoreAddress AS 'عنوان المخزن',
		StoreType AS 'نوع المخزن',
		StorePassword AS 'كلمة السر',
		StoreManager AS 'مدير المخزن',
		StoreBranch AS 'الفرع التابع له',
		StoreCapacity AS 'مساحة المخزن',
		StoreStatus AS 'حالة المخزن', 
		StoreDate AS 'تاريخ',  
		StoreTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM STORES WHERE StoreName LIKE '%' + @SearchKey + '%';

END

--Case 3 Search by @ColumnName is StorePhone
ELSE IF @ColumnName = 'StorePhone'

BEGIN

SELECT  StoreID AS 'الكود الداخلى',
		StoreCustomCode AS 'كود المخزن',
		StoreName AS 'اسم المخزن',
		StorePhone AS 'رقم الهاتف',
		StoreAddress AS 'عنوان المخزن',
		StoreType AS 'نوع المخزن',
		StorePassword AS 'كلمة السر',
		StoreManager AS 'مدير المخزن',
		StoreBranch AS 'الفرع التابع له',
		StoreCapacity AS 'مساحة المخزن',
		StoreStatus AS 'حالة المخزن', 
		StoreDate AS 'تاريخ',  
		StoreTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM STORES WHERE StorePhone = @SearchKey;

END

--Case 4 Search by @ColumnName is StoreAddress
ELSE IF @ColumnName = 'StoreAddress'

BEGIN

SELECT  StoreID AS 'الكود الداخلى',
		StoreCustomCode AS 'كود المخزن',
		StoreName AS 'اسم المخزن',
		StorePhone AS 'رقم الهاتف',
		StoreAddress AS 'عنوان المخزن',
		StoreType AS 'نوع المخزن',
		StorePassword AS 'كلمة السر',
		StoreManager AS 'مدير المخزن',
		StoreBranch AS 'الفرع التابع له',
		StoreCapacity AS 'مساحة المخزن',
		StoreStatus AS 'حالة المخزن', 
		StoreDate AS 'تاريخ',  
		StoreTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM STORES WHERE StoreAddress LIKE '%' + @SearchKey + '%';

END

--Case 5 Search by @ColumnName is StoreType
ELSE IF @ColumnName = 'StoreType'

BEGIN

SELECT  StoreID AS 'الكود الداخلى',
		StoreCustomCode AS 'كود المخزن',
		StoreName AS 'اسم المخزن',
		StorePhone AS 'رقم الهاتف',
		StoreAddress AS 'عنوان المخزن',
		StoreType AS 'نوع المخزن',
		StorePassword AS 'كلمة السر',
		StoreManager AS 'مدير المخزن',
		StoreBranch AS 'الفرع التابع له',
		StoreCapacity AS 'مساحة المخزن',
		StoreStatus AS 'حالة المخزن', 
		StoreDate AS 'تاريخ',  
		StoreTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM STORES WHERE StoreType = @SearchKey;

END

--Case 6 Search by @ColumnName is StoreManager
ELSE IF @ColumnName = 'StoreManager'

BEGIN

SELECT  StoreID AS 'الكود الداخلى',
		StoreCustomCode AS 'كود المخزن',
		StoreName AS 'اسم المخزن',
		StorePhone AS 'رقم الهاتف',
		StoreAddress AS 'عنوان المخزن',
		StoreType AS 'نوع المخزن',
		StorePassword AS 'كلمة السر',
		StoreManager AS 'مدير المخزن',
		StoreBranch AS 'الفرع التابع له',
		StoreCapacity AS 'مساحة المخزن',
		StoreStatus AS 'حالة المخزن', 
		StoreDate AS 'تاريخ',  
		StoreTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM STORES WHERE CONVERT(NVarchar, StoreManager) = @SearchKey;

END

--Case 7 Search by @ColumnName is StoreManager
ELSE IF @ColumnName = 'StoreStatus'

BEGIN

SELECT  StoreID AS 'الكود الداخلى',
		StoreCustomCode AS 'كود المخزن',
		StoreName AS 'اسم المخزن',
		StorePhone AS 'رقم الهاتف',
		StoreAddress AS 'عنوان المخزن',
		StoreType AS 'نوع المخزن',
		StorePassword AS 'كلمة السر',
		StoreManager AS 'مدير المخزن',
		StoreBranch AS 'الفرع التابع له',
		StoreCapacity AS 'مساحة المخزن',
		StoreStatus AS 'حالة المخزن', 
		StoreDate AS 'تاريخ',  
		StoreTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM STORES WHERE CONVERT(NVarchar, StoreStatus) = @SearchKey;

END

--Case 8 Search by @ColumnName is StoreBranch
ELSE IF @ColumnName = 'StoreBranch'

BEGIN

SELECT  StoreID AS 'الكود الداخلى',
		StoreCustomCode AS 'كود المخزن',
		StoreName AS 'اسم المخزن',
		StorePhone AS 'رقم الهاتف',
		StoreAddress AS 'عنوان المخزن',
		StoreType AS 'نوع المخزن',
		StorePassword AS 'كلمة السر',
		StoreManager AS 'مدير المخزن',
		StoreBranch AS 'الفرع التابع له',
		StoreCapacity AS 'مساحة المخزن',
		StoreStatus AS 'حالة المخزن', 
		StoreDate AS 'تاريخ',  
		StoreTime AS 'الوقت'

/*  Condition  WHERE ColumnName LIKE '%'+ @StoredProcedureParameterName +'%'  */
FROM STORES WHERE CONVERT(NVarchar, StoreBranch) = @SearchKey;

END