USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_StoreEdit]    Script Date: 1/7/2021 6:15:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_StoreEdit]

@ID int,
@CustomID nvarchar(50),
@Name nvarchar(100),
@Phone nvarchar(25),
@Address nvarchar(120),
@Type nvarchar(50),
@Password nvarchar(50),
@Manager int,
@Branch int,
@Capacity int,
@PCNameWhoAdded nvarchar(50),
@StoreWhoAdded int,
@Date nvarchar(50),
@Time nvarchar(50)


AS

INSERT INTO STORES 
			(StoreID, StoreCustomCode, StoreName, StorePhone, StoreAddress, StoreType, StorePassword, StoreManager, StoreBranch, 
			StoreCapacity, PCNameWhoAdded, StoreWhoAdded, StoreStatus, StoreDate, StoreTime)
			VALUES (@ID, @CustomID, @Name, @Phone, @Address, @Type, @Password, @Manager, @Branch, @Capacity, 
					@PCNameWhoAdded, @StoreWhoAdded, 1, @Date, @Time);