USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_BuyDetailUpdate]    Script Date: 6/12/2021 10:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_BuyDetailUpdate]


@BuyDetailID int,
@BuyDetailItemID int,
@BuyDetailItemUnit Nvarchar(50),
@BuyDetailItemBalance decimal (18,3),
@BuyDetailItemSalePrice decimal (18,3),
@BuyDetailItemBuyPrice  decimal (18,3),
@BuyDetailBuyQuantity  decimal (18,3),
@BuyDetailBuyExpiry Nvarchar(50),
@BuyDetailTotalSale  decimal (18,3),
@BuyDetailDiscound  decimal (18,3),
@BuyDetailTotalBuy  decimal (18,3),
@BuyDetailItemTax decimal (18,3),
@BuyDetailTotalTax  decimal (18,3),
@BuyDetailUnitEarn  decimal (18,3),
@BuyDetailTotalEarn  decimal (18,3),
@BuyDetailNotes Nvarchar(50),
@PCNameWhoModified Nvarchar(50),
@BuyDetailWhoModified int


AS
/* Update BuyDetails if Purchase Invoice */ 
UPDATE BuyDetails SET BuyDetailItemUnit =@BuyDetailItemUnit,
					  BuyDetailItemID = @BuyDetailItemID,
					  BuyDetailItemBalance =@BuyDetailItemBalance,
					  BuyDetailItemSalePrice =@BuyDetailItemSalePrice,
					  BuyDetailItemBuyPrice =@BuyDetailItemBuyPrice,
					  BuyDetailBuyQuantity =@BuyDetailBuyQuantity,
					  BuyDetailBuyExpiry =@BuyDetailBuyExpiry,
					  BuyDetailTotalSale =@BuyDetailTotalSale,
					  BuyDetailDiscound =@BuyDetailDiscound,
					  BuyDetailTotalBuy =@BuyDetailTotalBuy,
					  BuyDetailItemTax =@BuyDetailItemTax,
					  BuyDetailTotalTax =@BuyDetailTotalTax,
					  BuyDetailUnitEarn =@BuyDetailUnitEarn,
					  BuyDetailTotalEarn =@BuyDetailTotalEarn,
					  BuyDetailNotes = @BuyDetailNotes,
					  PCNameWhoModified =@PCNameWhoModified,
					  BuyDetailWhoModified =@BuyDetailWhoModified WHERE BuyDetailID = @BuyDetailID;


