USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ReBuyBillTotalSearch]    Script Date: 6/3/2021 1:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ReBuyBillTotalSearch]

@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100)

AS

--Case 1 Search by @ColumnName is ReBuyID
IF @ColumnName = 'ReBuyID'

BEGIN

SELECT * FROM ViewReBuyTotalShow WHERE [رقم فاتورة مرتجع الشراء] = CONVERT(int, @SearchKey);

END
