USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ReBuyEdit]    Script Date: 5/15/2021 2:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ReBuyEdit]

@ReBuyBillID int,
@ReBuyCustomID Nvarchar(50),
@ReBuyBillTotalSaleAmount decimal(18,3),
@ReBuyBillTotalBuyAmount decimal(18,3),
@ReBuyBillItemCount int,
@ReBuyBillNotes Nvarchar(100),

@ReBuyBillTotalRequired decimal(18,3),
@ReBuyBillTotalPaid decimal(18,3),
@ReBuyBillTotalRemain decimal(18,3),

@PcNameWhoAdded Nvarchar(50),
@ReBuyBillWhoAdded int,
@ReBuyBillDate Nvarchar(50),
@ReBuyBillTime Nvarchar(50)

AS

INSERT INTO ReBuyBill (ReBuyID, ReBuyCustomID, ReBuyTotalSaleAmount, ReBuyTotalBuyAmount, ReBuyItemsCount, ReBuyNotes,
					   ReBuyTotalAmount,ReBuyTotalPaid,ReBuyTotalRemain, PCNameWhoAdded, ReBuyWhoAdded, ReBuyStatus, 
					   ReBuyDate, ReBuyTime)
			
			VALUES  (@ReBuyBillID,@ReBuyCustomID, @ReBuyBillTotalSaleAmount,@ReBuyBillTotalBuyAmount,@ReBuyBillItemCount,
			         @ReBuyBillNotes,@ReBuyBillTotalRequired, @ReBuyBillTotalPaid, @ReBuyBillTotalRemain,@PcNameWhoAdded,@ReBuyBillWhoAdded,
					 1,@ReBuyBillDate ,@ReBuyBillTime );