USE [PharmacyDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ReBuyBillSearch]    Script Date: 8/7/2021 2:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ReBuyBillSearch] --SP_ReBuySearch

@ColumnName Nvarchar(25),
@SearchKey Nvarchar(100),
@CheckSearchDate bit,
@SearchDate1 Nvarchar(50),
@SearchDate2 Nvarchar(50)

AS

--Case 1 Search by @ColumnName is ReBuyCustomID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 and @ColumnName = 'ReBuyID'

BEGIN

SELECT * FROM ViewReBuyShow WHERE [رقم الفاتورة مرتجع الشراء] = Convert(int, @SearchKey);

END


--Case 2 Search by @ColumnName is ReBuyCustomID And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 and @ColumnName = 'ReBuyCustomID'

BEGIN

SELECT * FROM ViewReBuyShow WHERE [كود فاتورة مرتجع الشراء] = @SearchKey;

END

--Case 3 Search by @ColumnName is ReBuyDate And @CheckSearchDate = 1 (without SearchDate = False)
IF @CheckSearchDate = 1 AND @ColumnName = 'ReBuyDate'

BEGIN

SELECT * FROM ViewReBuyShow WHERE [تاريخ فاتورة المرتجع] BETWEEN @SearchDate1 AND @SearchDate2;

END

--Case 4 Search by @ColumnName is SupplierFullName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'SupplierFullName'

BEGIN

SELECT * FROM ViewReBuyShow WHERE [اسم المورد] =  @SearchKey;

END


--Case 5 Search by @ColumnName is SupplierFullName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'SupplierFullName'

BEGIN

SELECT * FROM ViewReBuyShow WHERE [اسم المورد] =  @SearchKey AND [تاريخ فاتورة المرتجع] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 6 Search by @ColumnName is ItemBarcode1 And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'ItemBarcode1'

BEGIN

SELECT * FROM ViewReBuyShow WHERE [باركود الاول للصنف] =  @SearchKey OR [الباركود الثانى للصنف] =  @SearchKey OR [الباركود الثالث] =  @SearchKey;

END


--Case 7 Search by @ColumnName is ItemBarcode1 And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'ItemBarcode1'

BEGIN

SELECT * FROM ViewReBuyShow WHERE [باركود الاول للصنف] =  @SearchKey OR [الباركود الثانى للصنف] =  @SearchKey OR [الباركود الثالث] =  @SearchKey AND [تاريخ فاتورة المرتجع] BETWEEN @SearchDate1 AND @SearchDate2;

END

--Case 8 Search by @ColumnName is ItemName And @CheckSearchDate = 0 (without SearchDate = False)
IF @CheckSearchDate = 0 AND @ColumnName = 'ItemName'

BEGIN

SELECT * FROM ViewReBuyShow WHERE [اسم الصنف] LIKE '%' + @SearchKey + '%' OR [الصنف بالانجليزى] LIKE '%' + @SearchKey + '%';

END


--Case 9 Search by @ColumnName is ItemName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'ItemName'

BEGIN

--Note Sql Statment ColumnName LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN  @SearchDate1 AND @SearchDate2 OR ColumnName2 LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;
--SELECT * FROM ViewBuyBillShow  WHERE [الصنف بالانجليزى] LIKE '%' + @SearchKey + '%' AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2 OR [اسم الصنف] LIKE '%' + @SearchKey + '%'  AND [تاريخ إصدار فاتورة الشراء] BETWEEN @SearchDate1 AND @SearchDate2;
SELECT * FROM ViewReBuyShow  WHERE [اسم الصنف] LIKE '%' + @SearchKey + '%'  AND [تاريخ فاتورة المرتجع] BETWEEN @SearchDate1 AND @SearchDate2 OR [الصنف بالانجليزى] LIKE '%' + @SearchKey + '%' AND [تاريخ فاتورة المرتجع] BETWEEN @SearchDate1 AND @SearchDate2;

END


--Case 10 Search by @ColumnName is ItemName And @CheckSearchDate = 1 (with SearchDate = True)
IF @CheckSearchDate = 1 AND @ColumnName = 'RebuyDate'

BEGIN

SELECT * FROM ViewReBuyShow  WHERE [تاريخ فاتورة المرتجع] BETWEEN @SearchDate1 AND @SearchDate2;

END